.l-footer {
    width: 100%;
	bottom: 0;
	position: absolute;
    font-size: 13px;
    overflow: hidden;
    padding-bottom: 10px;
}

.l-footer .l-region--footer {
    padding-top: 15px;
}

.l-footer .footer-logo-buap {
    float: left;
    height: 59px;
    overflow: hidden;
    padding-right: 10px;
}

.l-footer .footer-info-buap {
    height: 55px;
    width: 270px;
    float: left;
}

.l-footer ul.menu {
    width: 230px;
    overflow: hidden;
    float: left;
    margin: 0;
}

.l-footer ul.menu a {
    color: rgb(0,201,240);
    text-decoration: none;
}

.l-footer ul.menu a:hover {
    text-decoration: underline;
}

.l-footer ul.menu li {
    list-style: none;
}

.l-footer .footer-info-dep {
    float: right;
    width: 315px;
    max-width: 315px;
    overflow: hidden;
    float: right;
}