.not-front .l-content {
    color: rgb(0,59,92);
}

.not-front .l-content .pane-page-title {
    text-align: center;
}

.not-front .titulo_responsive{
	display: none;
}

@media only screen and (min-width: 1200px) {
	.not-front .l-content {
		min-height: 500px;
	}

	.node-type-pagina-2-columnas- .pane-page-content .group-left {
		padding-right: 	20px;
		width: 48% !important;
	}

	.node-type-p-gina-2-columnas-cabecera-y-pie .pane-page-content .group-left {
		padding-right: 20px;
		width: 48% !important;
	}

	.node-type-p-gina-2-columnas-cabecera-y-pie .pane-page-content .group-header {
		padding-bottom: 20px;
	}

	.node-type-p-gina-2-columnas-cabecera-y-pie .pane-page-content .group-footer {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}