.l-header {
	width: 100%;
}

.l-menu {
	width: 100%;
	background-color: rgb(0, 60, 94);
    height: 65px;
}

.l-menu .l-region--menu-buap {
	width: 1300px;
	display: block;
	margin: 0 auto;
	color: rgb(0,201,240);
}

.l-menu-secundario {
	width: 1300px;
	color: white;
	display: block;
	margin: 0 auto;
}

.l-slider-principal {
	width: 1300px;
	display: block;
	margin: 0 auto;
	overflow: hidden;
}

.l-main {
	width: 1300px;
	color: #003c5e;
	display: block;
	overflow: hidden;
	margin: 0 auto;
}

.l-content-lienzo {
	/*background-color: rgb(229,229,229);*/
	overflow: hidden;
	width: 100%;
	background-clip: content-box;
	padding-bottom: 25px;

}

.l-noticias-buap {
	width: 1300px;
	/*height: 300px;
	background-color: rgb(229,229,229);*/
	margin-bottom: 20px;
	background: #e6e6e6;
	overflow: hidden;
    padding-bottom: 25px;

}

.l-footer {
	background-color: rgb(0,59,92);
	width: 100%;
	margin-top: 25px;
}

.l-footer .l-region--footer {
	color: rgb(0,201,240);
	width: 1300px;
	margin: 0 auto;
	display: block;
}

/* LIENZO SUPERPANEL */

.l-content-lienzo .superpanel .columna-izquierda .node__title, .l-content-lienzo .superpanel .columna-derecha .node__title {
	display: none;
}

.l-content-lienzo .superpanel {
	width: 100%;
	max-height: 785px;
	padding-top: 25px;
	overflow: hidden;
}

.l-content-lienzo .superpanel .columna-izquierda {
	float: left;
	width: 315px;
	overflow: hidden;
}

.l-content-lienzo .superpanel .columna-derecha {
	float: right;
	width: 315px;
	overflow: hidden;
}

.l-content-lienzo .superpanel .columna-central {
	float: left;
	width: 620px;
	overflow: hidden;
	padding-left: 25px;
	padding-right: 25px;
}

.l-content-lienzo .superpanel .columna-central .node__title {
	display: none;
}