.l-menu ul.menu a {
	color: white;
	text-decoration: none;
	font-size: 14px;
}

.l-menu .header-logo-buap {
	height: 65px;
	overflow: hidden;
	float: left;
}

.l-menu .header-redes {
	height: 40px;
	float: right;
	padding-top: 15px;
	width: 245px;
}

.l-menu .header-redes a {
	float: left;
}

.l-menu .header-redes form {
	float: left;
	min-width: 0px;
	width: 0px;
	transition: all .5s;

	display: inline-block;
}

.l-menu .header-redes form input[type="submit"] {
	display: none;
}

.l-menu .header-redes form input[type="text"] {
    width: 100%;
    height: 100%;
    padding: 12px 9px 9px 32px;
    border-radius: 15em;
    position: relative;
    transition: all .5s;
    float: right;
    margin-right: -42px;
    margin-top: -2px;
    background: rgba(255,255,255,0.95) url(../images/buscar.png) no-repeat scroll 4px 1px;
    z-index: 5000;
    border-style: hidden;
}

.l-menu .header-redes form input[type="text"]:focus {
	width: 400px;
	transition: all .5s;
	padding-left: 40px;
}

.l-menu .header-redes form:focus {
	width: 140px;
}

.l-menu .header-redes img {
	padding-right: 10px;
}

.l-menu ul.menu a:hover {
	color: rgb(0,201,240);
	text-decoration: underline;
}

.l-menu ul.menu {
	float: right;
	padding-top: 5px;
}

.l-menu ul.menu li{
	list-style: none;
	display: inline;
	padding-right: 10px;
}

/* Menu secundario */
/* .l-menu-secundario h2 {
	color: rgb(0,59,92);
	margin: 0;
	padding-top: 10px;
	padding-bottom: 15px;
	text-align: left;
} */

.l-menu-secundario .pane-block-3 {
	width: 100%;
    overflow: hidden;
}

.l-menu-secundario h2 {
	display: inline-block;
    float: right;
    color: rgb(0,59,92);
    background: rgba(0,0,0,0.12);
    padding: 10px 60px;
    border-left: 4px solid #00c9f0;
    border-right: 4px solid #00c9f0;
    margin-top: 5px;
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-size: 20px;
}

.l-menu-secundario .pane-menu-menu-menu-secundario {
	text-align: center;
} 

.l-menu-secundario a {
    color: #002d4a;
    text-decoration: none;
	font-size: 18px;

}

.l-menu-secundario a:hover {
	color: #00c9f0;
}

.l-menu-secundario ul.menu {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
}

.l-menu-secundario .expanded .menu a {
	font-size: 14px !important;
	display: block;
	width: 100%;
	color: #A2ADB3;
}

.l-menu-secundario .expanded .menu a:hover {
	font-size: 14px !important;
	display: block;
	width: 100%;
	color: #002d4a;
}

.l-menu-secundario  ul.menu li ul {
    visibility: hidden; 
    /*display: none;*/
    position: absolute;
    padding: 15px 15px 15px 15px;
	width: 260px;
	left: -15px;
	z-index: 900;
	top: 20px;
	background: white;
	transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.l-menu-secundario ul.menu li:hover ul {
   /* display: block;*/
	box-shadow: 2px 2px 2px #6f6f6f;
	border-bottom: 3px solid #00c9f0;
	visibility: visible;
	opacity: 1;
}

.l-menu-secundario ul.menu li ul li {
    width: 100%;
    /*line-height: 30px;*/
	position: relative;
	padding-right: 10px;
	border-bottom: 1px solid #ececec;
	padding-bottom: 10px;
	padding-top: 10px;
}

.l-menu-secundario ul.menu li {
    float: left;
    padding-right: 30px;
    position: relative;
	list-style: none;
}

.l-menu-secundario .pane-menu-menu-menu-secundario > ul.menu li:before {
	content: "■ ";
    color: #00c9f0;
    position: absolute;
    left: -10px;
    top: 9px;
    font-size: 6px;
	
}


.l-menu-secundario .pane-menu-menu-menu-secundario ul li ul li:before {
	content: " " !important;
}

.l-menu-secundario ul.menu li ul li ul {
	display: none !important;
}

.l-menu-secundario ul.menu li ul li:hover ul {
	display: block !important;
	position: absolute;
	top: 0;
	left: 100%;
	/*background: #e6ebed;*/
}

.l-menu-secundario ul.menu li ul.menu li > a:after {
	content: "▶";
	position: absolute;
    right: 10px;
}

.l-menu-secundario ul.menu li ul.menu li > a:only-child:after {
	content: "";
}

