
@font-face {
	font-family: sourcesans;
	src: url(fonts/woff/SOURCESANSPRO-REGULAR.WOFF) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: sourcesans_bold;
	src: url(fonts/woff/SOURCESANSPRO-SEMIBOLD.WOFF) format('woff');
	font-weight: bolder;
}

@font-face {
	font-family: sourcesans_light;
	src: url(fonts/woff/SOURCESANSPRO-LIGHT.WOFF) format('woff');
}

@font-face {
	font-family: sourcesans_extralight;
	src: url(fonts/woff/SOURCESANSPRO-EXTRALIGHT.WOFF) format('woff');
}

@font-face {
	font-family: sourcesans_bolder;
	src: url(fonts/woff/SOURCESANSPRO-BOLD.WOFF) format('woff');
}

img, media {
  max-width: 100%;
}

/* No files to import found in partials/components/**\/* */
* {
	font-family: sourcesans;
}

html{
	position: relative;
	min-height: 100%
}

body {
	margin: 0 0 150px;
	padding: 0 !important;  
}

.container {
	width: 100% !important;
	padding: 0 !important;
}

p {
	margin: 0;
}

.l-content a {
	color: rgb(0, 60, 94);
	text-decoration: none;
}

.l-content a:hover {
	color: rgb(0,201,240);
	text-decoration: underline;
}