.vineta_01_numeros_decilmal {
	list-style-type:decimal;
	margin-left: 5px;
	font-size: 13px;
}
.vineta_01_numeros_decilmal_cursiva {
	list-style-type:decimal;
	margin-left: 5px;
	font-style: italic;
	font-size: 13px;
}
.vineta_02_numeros_zero_mas_decilmal {
	list-style-type:decimal-leading-zero;
	margin-left: 5px;
	font-size: 13px;
}
.vineta_02_numeros_zero_mas_decilmal_cursiva {
	list-style-type:decimal-leading-zero;
	margin-left: 5px;
	font-style: italic;
	font-size: 13px;
}
.vineta_03_numeros_romanos_mayusculas {
	list-style-type:upper-roman;
	margin-left: 5px;
	font-size: 13px;
}
.vineta_03_numeros_romanos_mayusculas_cursiva {
	list-style-type:upper-roman;
	margin-left: 5px;
	font-style: italic;
	font-size: 13px;
}
.vineta_04_numeros_romanos_minusculas {
	list-style-type:lower-roman;
	margin-left: 5px;
	font-size: 13px;
}
.vineta_04_numeros_romanos_minusculas_cursiva {
	list-style-type:lower-roman;
	margin-left: 5px;
	font-style: italic;
	font-size: 13px;
}
.vineta_05_numeracion_alfabeto_mayusculas {
	list-style-type:upper-latin;
	margin-left: 5px;
	font-size: 13px;
}
.vineta_05_numeracion_alfabeto_mayusculas_cursiva {
	list-style-type:upper-latin;
	margin-left: 5px;
	font-style: italic;
	font-size: 13px;
}
.vineta_06_numeracion_alfabeto_minusculas {
	list-style-type:lower-latin;
	margin-left: 5px;
	font-size: 13px;
}
.vineta_06_numeracion_alfabeto_minusculas_cursiva {
	list-style-type:lower-latin;
	margin-left: 5px;
	font-style: italic;
	font-size: 13px;
}
.vineta_07_cuadrada {
	list-style-type: square;
	margin-left: 5px;
	font-size: 13px;
}
.vineta_07_cuadrada_cursiva {
	list-style-type: square;
	margin-left: 5px;
	font-style: italic;
	font-size: 13px;
}





/*_____________________________*/
.vineta_08_imagen-01 {
	list-style-image: url('ima_venetas/venetas_01.png');
	margin-left: 5px;
	font-size: 13px;
 }
.vineta_08_imagen-01_cursiva {
	list-style-image: url('ima_venetas/venetas_01.png');
	margin-left: 5px;
	font-style: italic;
	font-size: 13px;
 }
.vineta_09_imagen-01 {
	list-style-image: url('ima_venetas/venetas_02.png');
	margin-left: 5px;
	font-size: 13px;
 }
.vineta_09_imagen-01_cursiva {
	list-style-image: url('ima_venetas/venetas_02.png');
	margin-left: 5px;
	font-style: italic;
	font-size: 13px;
 }
.vineta_10_imagen-01 {
	list-style-image: url('ima_venetas/venetas_03.png');
	margin-left: 5px;
	font-size: 13px;
 }
.vineta_10_imagen-01_cursiva {
	list-style-image: url('ima_venetas/venetas_03.png');
	margin-left: 5px;
	font-style: italic;
	font-size: 13px;
 }
.vineta_11_imagen-01 {
	list-style-image: url('ima_venetas/venetas_04.png');
	margin-left: 5px;
	font-size: 13px;
 }
.vineta_11_imagen-01_cursiva {
	list-style-image: url('ima_venetas/venetas_04.png');
	margin-left: 5px;
	font-style: italic;
	font-size: 13px;
 }
.vineta_12_imagen-01 {
	list-style-image: url('ima_venetas/venetas_05.png');
	margin-left: 5px;
	font-size: 13px;
 }
.vineta_12_imagen-01_cursiva {
	list-style-image: url('ima_venetas/venetas_05.png');
	margin-left: 5px;
	font-style: italic;
	font-size: 13px;
 }
.vineta_13_imagen-01 {
	list-style-image: url('ima_venetas/venetas_06.png');
	margin-left: 5px;
	font-size: 13px;
 }
.vineta_13_imagen-01_cursiva {
	list-style-image: url('ima_venetas/venetas_06.png');
	margin-left: 5px;
	font-style: italic;
	font-size: 13px;
 }
.vineta_14_imagen-01 {
	list-style-image: url('ima_venetas/venetas_07.png');
	margin-left: 5px;
	font-size: 13px;
 }
.vineta_14_imagen-01_cursiva {
	list-style-image: url('ima_venetas/venetas_07.png');
	margin-left: 5px;
	font-style: italic;
	font-size: 13px;
 }
