.ctools-locked{color:red;border:1px solid red;padding:1em;}.ctools-owns-lock{background:#ffffdd none repeat scroll 0 0;border:1px solid #f0c020;padding:1em;}a.ctools-ajaxing,input.ctools-ajaxing,button.ctools-ajaxing,select.ctools-ajaxing{padding-right:18px !important;background:url(/dev-drupal/sites/all/modules/ctools/images/status-active.gif) right center no-repeat;}div.ctools-ajaxing{float:left;width:18px;background:url(/dev-drupal/sites/all/modules/ctools/images/status-active.gif) center center no-repeat;}
/*})'"*/
.form-item-type,.form-item-severity{float:left;padding-right:.8em;margin:0.1em;width:15em;}#dblog-filter-form .form-type-select select{width:100%;}#dblog-filter-form .form-actions{float:left;padding:3ex 0 0 1em;}tr.dblog-user{background:#ffd;}tr.dblog-user .active{background:#eed;}tr.dblog-content{background:#ddf;}tr.dblog-content .active{background:#cce;}tr.dblog-page-not-found,tr.dblog-access-denied{background:#dfd;}tr.dblog-page-not-found .active,tr.dblog-access-denied .active{background:#cec;}tr.dblog-error{background:#ffc9c9;}tr.dblog-error .active{background:#eeb9b9;}table#admin-dblog td.icon{background:no-repeat center;width:16px;}table#admin-dblog tr.dblog-warning td.icon{background-image:url(/dev-drupal/misc/message-16-warning.png);}table#admin-dblog tr.dblog-error td.icon,table#admin-dblog tr.dblog-critical td.icon,table#admin-dblog tr.dblog-alert td.icon,table#admin-dblog tr.dblog-emerg td.icon{background-image:url(/dev-drupal/misc/message-16-error.png);}
/*})'"*/
div.panel-pane div.admin-links{font-size:xx-small;margin-right:1em;}div.panel-pane div.admin-links li a{color:#ccc;}div.panel-pane div.admin-links li{padding-bottom:2px;background:white;z-index:201;}div.panel-pane div.admin-links:hover a,div.panel-pane div.admin-links-hover a{color:#000;}div.panel-pane div.admin-links a:before{content:"[";}div.panel-pane div.admin-links a:after{content:"]";}div.panel-pane div.panel-hide{display:none;}div.panel-pane div.panel-hide-hover,div.panel-pane:hover div.panel-hide{display:block;position:absolute;z-index:200;margin-top:-1.5em;}div.panel-pane div.feed a{float:right;}
/*})'"*/
.krumo-version,.krumo-call{white-space:nowrap;}.krumo-nest{display:none;}
/*})'"*/
