.admin-views-view .views-exposed-form .form-text{width:10em;}.admin-views-view .views-exposed-form .description{display:none;}.admin-views-view .views-exposed-form .views-submit-button,.admin-views-view .views-exposed-form .views-reset-button{padding-right:0;}.admin-views-view .form-item-operation{float:left;margin-top:0;margin-bottom:0;margin-right:1em;}
/*})'"*/
.vbo-select-all-markup,.vbo-table-select-all-markup{display:none;}.vbo-views-form thead .form-type-checkbox{margin:0;}.vbo-table-select-all{display:none;}.views-table-row-select-all{display:none;}.views-table-row-select-all td{text-align:center;}.vbo-views-form .vbo-table-select-all-pages,.vbo-views-form .vbo-table-select-this-page{margin:0;padding:2px 5px;}.vbo-fieldset-select-all{text-align:center;width:210px;padding:0.6em 0;}.vbo-fieldset-select-all .form-item{margin-bottom:0;}.vbo-fieldset-select-all div{padding:0;margin:0;}
/*})'"*/
