.page-noticias {
    .view {
        width: 1100px;
        margin: 0 auto;

        .views-row {
            margin-bottom: 20px;
            height: 250px;
            max-height: 250px;
            background-color: #e1e3e6;
            padding: 15px 15px;
            position: relative;

            .views-field-title {
                a {
                    color: #003b5c;
                    text-decoration: none;
                    font-size: 20px;
                    font-family: sourcesans_bold;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .views-field-field-imagen-noticias {
                height: 175px;
                width: 175px;
                padding-right: 20px;
                padding-bottom: 20px;
                padding-top: 20px;
                float: left;
            }

            .views-field-body {
                padding-top: 20px;
                width: 850px;
                float: left;
            }

            .views-field-view-node {
                a {
                    color: #00b5e2;
                    text-decoration: none;
                    font-family: sourcesans_bold;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                span {
                    display: block;
                    position: absolute;
                    bottom: 15px;
                    right: 25px;
                }
            }
        }

        .pager {
            a {
                color: #003b5c;
                text-decoration: none;


                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.node-type-galer-a-interior- {
	.field__item {
		float: left;
		margin-right: 15px;
		margin-bottom: 15px;
	}
}

.not-front {
    .view-vista-superpanel-cd, .view-vista-superpanel-ci {
        .node__title {
            display: none;
        }
    }

    .node--menu {
        .node__title {
            display: none;
        }
    }

    .field--name-body {
        padding: 15px;
    }
}

.pag-lc {

    .lc-col {
        overflow-y: auto;
    }

    .lc-2-cols {
        .lc-col {
            width: 587px;
            // min-height: 450px;
            float: left;
            padding: 25px;
            background: #eaeaea;
            margin-bottom: 25px;
            margin-right: 25px;

            &.lc-col-last {
                margin-right: 0 !important;
            }
        }
    }

    .lc-3-cols {
        .lc-col {
            width: 366px;
            // min-height: 250px;
            float: left;
            padding: 25px;
            background: #eaeaea;
            margin-bottom: 25px;
            margin-right: 25px;

            &.lc-col-last {
                margin-right: 0 !important;
            }
        }
    }

    .lc-4-cols {
        .lc-col {
            width: 256px;
            // min-height: 200px;
            float: left;
            padding: 25px;
            background: #eaeaea;
            margin-bottom: 25px;
            margin-right: 25px;

            &.lc-col-first {
                margin-right: 25px;
            }

            &.lc-col-last {
                margin-left: 0px !important;
                margin-right: 0px !important;
            }
        }
    }
}

.page-actividades {
    .view-content {
        padding: 20px;
        .views-row {
            padding: 10px;
            background: #ececec;
            margin-bottom: 10px;
        }
    }
}

.node-type-actividades {
    .l-content {
        .field--name-field-extra {
            padding-top: 25px;
        }

        .field--name-field-imagen-actividades {
          img {
            display: block;
            margin: 0 auto;
            max-width: 200px;
            height: auto;
            margin-bottom: 25px;
          }

        }
    }
}

.node-type-webform {
  article {
    &.node--webform {
      width: 800px;
      margin: 0 auto;

      .node__submitted {
        display: none;
      }

      input[type=text], input[type=email] {
        display: block;
        margin: 0 auto;
        width: 780px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
      }

      input[type=submit], input[type=button] {
        background: #00caf1;
        border: 0;
        font-family: sourcesans_bold;
        font-size: 25px;
        color: #003c5d;
        padding: 5px 10px;
        min-width: 150px;
        display: block;
      }

      input[type=submit] {
        float: right;
      }

    }
  }
}

.field--name-field-presentaci-n-galeria-i {
  display: none;
}

.node-type-p-gina-tabs- {
    .pane-page-content {
        width: 960px;
        display: block;
        margin: 0 auto;
    }
}

.node-type-p-gina-menu- {
    .l-content {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;

        .field--name-field-enlaces-pmenu { width: 85%; display: block; margin: 0 auto; }

        .field__item {
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #00c6f4;
            a { font-size: 25px; padding-left: 35px;}
        }
        
    }

}

.node-type-p-gina-directorio-unidad-acad-mi {
    .pane-page-title { display: none; }
    .contenido-directorio-uac {
        .top-directorio-uac {
            background: #d3d3d3;
            overflow: hidden;

            .stripe-top {
                background: #193c5d;
                width: 100%;
                height: 60px;
            }

            .stripe-middle {
                background: #768798;
                width: 100%;
                height: 15px;
            }
            .top-directorio-uac-izquierda {
                width: 35%;
                float: left;

                .foto {
                    border: 8px solid #193c5d;
                    width: 250px;
                    height: 333px;
                    display: block;
                    margin: 0 auto;
                }
            }
            .top-directorio-uac-derecha {
                width: 65%;
                float: left;
                img {
                    width: 32px;
                    height: 32px;
                    object-fit: contain;
                    padding-right: 20px;
                }

                .descripcion {
                    padding-right: 20px;
                }
            }
        }

        .top-directorio-coordinaciones {
            .titulo {
                width: 100%;
                background: #193c5c;
                color: white;
                font-size: 28px;
                font-weight: bold;
                text-align: center;
                padding-top: 15px;
                padding-bottom: 15px;
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }

        .directorio-coordinaciones {
            overflow: hidden;

            .coordinacion {
                width: 420px;
                float: left;
                background: lightgrey;
                height: 340px;
                margin-bottom: 20px;

                img {
                    width: 32px;
                    height: 32px;
                    object-fit: contain;
                    padding-right: 20px;
                }

                .titulo-coordinacion {
                    height: 60px;
                    background: #193c5b;
                    color: white;
                    text-align: center;
                    border-bottom: 15px solid #758798;
                    padding: 0 !important;
                    line-height: 60px; /* Revisar esto para centrar verticalmente */
                }

                div[class$="-coordinacion"] {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 10px;
                }

                &:nth-child(3n-2) {
                    margin-right: 20px;
                }

                &:nth-child(3n-1) {
                    margin-right: 20px;
                }

                &:nth-child(3n) {
                    margin: 0;
                }
            }
            
        }

        .directorio-pila {
            margin-top: 20px;
            width: 100%;
            overflow: hidden;

            div[class^="directorio-pila-"] {
                width: 416px;
                height: 344px;
                float: left;

                &:nth-child(3n-2) {
                    margin-right: 20px;
                }

                &:nth-child(3n-1) {
                    margin-right: 20px;
                }

                &:nth-child(3n) {
                    margin: 0;
                }

            } 
        }

        .top-directorio-cuerpo {
            width: 100%;
            background: #193c5c;
            color: white;
            font-size: 28px;
            font-weight: bold;
            text-align: center;
            padding-top: 15px;
            padding-bottom: 15px;
            margin-top: 15px;
            margin-bottom: 15px;
        }

    }
}