@media only screen and (max-width: 1290px) {
    body {
        zoom: 0.9;
    }
}

@media  only screen and (max-width: 1024px) {
    body {
        zoom: 0.75;

		.l-slider-principal {

			.l-region--slider-principal {
				height: auto !important;

				.flexslider {
					width: 100% !important;
					height: auto !important;	
					li {
						img {
							width: 100% !important;
							height: auto !important;
						}
					}
				}
			}

		}

		.l-menu {
			.menu-r {
				ul {
					&.menu {
						float: left;
						margin-left: 20px;
					}
				}
			}
		}
    }


}


@media only screen and (min-width: 769px) and (max-width: 1023px){
	.l-main{
		width: 100%;
	}
	
    .l-menu {
        .l-region--menu-buap {
            .header-redes {
                    display: none;
                }
                
                ul {
                    &.menu {
                        display: none;
                    }
                }
            }
            .menu-responsive {
                display: block;
                float: right;
                height: 65px;
                width: 65px;
                padding-right: 10px;
                a {
                    display: block;
                }
         }
    }
	
    .l-menu-secundario {
        display: none;
    }
	
	.l-slider-principal{
		width: 100%;
	}
	
	.l-content-lienzo{
	
		text-align: center;
		
		.superpanel{
			overflow: visible;
			text-align: center;
			max-height: none;
			
			.columna-izquierda{
				float: none;
				display: inline-block;
				height: 450px;
			}
			
			.columna-central{
				float: none;
				display: inline-block;
				width: 80%;
			}
			
			.columna-derecha{
				float: none;
				display: inline-block;
				height: 450px;
			}
		}
		
		.l-lienzo-1-col{
			width: 100%;
			text-align: center;
			
			div[id^="node-"]{
				width: 100%;
			}
			
			div[class^="l-1-cols-"]{
				width: 100%;
			}
		}
		
		.l-lienzo-2-cols{
			width: 100%;
			text-align: center;
		}
		
		.l-lienzo-3-cols{
			width: 100%;
			text-align: center;
			padding: 10px;
			
			div[class^="l-3-cols-"] {
				display: inline-block;
				padding: 20px 10px 20px 10px;
			}
		
		}

		
		.l-lienzo-4-cols {
			padding-top: 25px;
			width: 100%;
			text-align: center;
	
			.l-4-cols-col {
				padding: 20px 10px 20px 10px;
				padding-right: 10px !important; 
			}
      
        }
	}
	
	.content{
	
		.menu-col.diseno-2-neg{
			float: none;
			display: inline-block;
			height: 450px;
		}
		
		.menu-col.diseno-2{
			float: none;
			display: inline-block;
			height: 450px;
		}
		
		.img-link-cc{
			float: none;
			height: auto;
			width: 100%;
			display: inline-block;
		}
		
		.galeria-2-cols{
			
			float: none;
			display: inline-block;
			padding: 20px;
			width: 400px;
			
		}
		
		.video-2-cols{
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
			
			iframe{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		
		.video-3-cols{
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
			
			iframe{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		
		.video-4-cols{
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
			
			iframe{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		
		
		.mapa-1-col{
			width: 100%;
			display: inline-block;
			height: initial;
			padding-bottom: 25px;
			
			#columnas{
				width: 100%;
				text-align: center;
				height: initial;
				
				ul{
					padding: 0px;
					margin: 15px;
					width: 60%;
				}
			}
			
			#cmapa{
				position: relative;
				padding-bottom: 75%;
				overflow: hidden;
				top: 120px;
				width: 100%;
			}
			
			#map_canvas{
				width: 100%;
				position: absolute;
			}
			
			#ctexto{
				width: 100%;
			}
		}
		
		.carrousel-1-col{
				.titulo{
					width: 100%;
				}
		}
		
		.html-3-col{
			display: block;
			float: none;
			text-align: left;
		}
		
		.html-4-col{
			display: block;
			float: none;
			text-align: left;
		}
	}
	
	.l-noticias-buap{
		
		width: 100%;
		text-align: center;
		
		p.titulo{
			width:100%;
		}
		
		.l-noticias-buap-cols{
			width: 100%;
			text-align: center;
			
			.l-noticias-buap-col{
				display: inline-block;
				padding-left: 0px;
				padding: 10px;
			}
		}
		
	}

	.l-footer{
		
		width: 100%;
		text-align: center;
		height: 380px;
        position: relative;
			
		.l-region--footer{
				
			width: 100%;
			text-align: center;
			height: inherit;
				
			.footer-logo-buap{
				float: none;
				display: inline-block;
				width: 100%;
			}
				
			.footer-info-buap{
				display: inline-block;
				float: none;
				width: 100%;
			}
				
			ul.menu{
                width: 100%;
				display: inline-block;
				float: none;
				padding-top: 20px;
				padding-left: 0px;
				text-align: center;
			}
					
			.footer-info-dep{
				display: inline-block;
				float: none;
				padding-top: 20px;
			}
		}
	}
}

@media  only screen and (min-width: 768px) and (min-height: 1024px) and (-webkit-min-device-pixel-ratio : 2) {
/* iPad */

	.l-main{
		width: 100%;
	}
	
    .l-menu {
        .l-region--menu-buap {
            .header-redes {
                    display: none;
                }
                
                ul {
                    &.menu {
                        display: none;
                    }
                }
            }
            .menu-responsive {
                display: block;
                float: right;
                height: 65px;
                width: 65px;
                padding-right: 10px;
                a {
                    display: block;
                }
         }
    }
    .l-menu-secundario {
        display: none;
    }
	
	.l-slider-principal{
		width: 100%;
	}
	
	
	
	.l-content-lienzo{
	
		text-align: center;
		
		.superpanel{
			overflow: visible;
			text-align: center;
			max-height: none;
			
			.columna-izquierda{
				float: none;
				display: inline-block;
				height: 450px;
			}
			
			.columna-central{
				float: none;
				display: inline-block;
			}
			
			.columna-derecha{
				float: none;
				display: inline-block;
				height: 450px;
			}
		}
	}
	
	.content{
	
		.menu-col.diseno-2-neg{
			float: none;
			display: inline-block;
			height: 450px;
		}
		
		.menu-col.diseno-2{
			float: none;
			display: inline-block;
			height: 450px;
		}
	}
	
	.l-noticias-buap{
		
		width: 100%;
		
		.l-noticias-buap-cols{
			width: 100%;
		}
	}

	.l-footer{
		
		width: 100%;
		text-align: center;
		height: 380px;
        position: relative;
			
		.l-region--footer{
				
			width: 100%;
			text-align: center;
			height: inherit;
				
			.footer-logo-buap{
				float: none;
				display: inline-block;
				width: 100%;
			}
				
			.footer-info-buap{
				display: inline-block;
				float: none;
				width: 100%;
			}
				
			ul.menu{
                width: 100%;
				display: inline-block;
				float: none;
				padding-top: 20px;
				padding-left: 0px;
				text-align: center;
			}
					
			.footer-info-dep{
				display: inline-block;
				float: none;
				padding-top: 20px;
			}
		}
	}
}

@media only screen and (min-width: 651px) and (max-width: 767px ){
	
	.l-main{
		width: 100%;
	}
	
	.l-menu {
        .l-region--menu-buap {
            .header-redes {
                    display: none;
                }
                
                ul {
                    &.menu {
                        display: none;
                    }
                }
            }
            .menu-responsive {
                display: block;
                float: right;
                height: 65px;
                width: 65px;
                padding-right: 10px;
                a {
                    display: block;
                }
                .menu-r {
                    display: block !important;
                }
            }
    }
	
	.l-menu-secundario {
        display: none;
    }
	
	.l-slider-principal{
		width: 100%;
	}
	
	.flexslider{
		
		.overlay{
			width:25% !important; 
			text-align: center;
		}
	}
	
	.l-content-lienzo{
	
		text-align: center;
		
		.superpanel{
			overflow: visible;
			text-align: center;
			max-height: none;
			
			.columna-izquierda{
				float: none;
				display: inline-block;
				height: 450px;
			}
			
			.columna-central{
				float: none;
				display: inline-block;
				width: 80%;
			}
			
			.columna-derecha{
				float: none;
				display: inline-block;
				height: 450px;
			}
		}
		
		.l-lienzo-1-col{
			width: 100%;
			text-align: center;
			
			div[id^="node-"]{
				width: 100%;
			}
			
			div[class^="l-1-cols-"]{
				width: 100%;
			}
		}
		
		.l-lienzo-2-cols{
			
			div[class^="1-2-cols-"]{
				width: 100%;
				padding-right: 0px;
			}

			div[id^="node-"]{
				width: 100%;
			}
        }
		
		.l-lienzo-3-cols{
			width: 100%;
			text-align: center;
			padding: 10px;
			
			div[class^="l-3-cols-"] {
				display: inline-block;
				padding: 20px 10px 20px 10px;
			}
		
		}

		
		.l-lienzo-4-cols {
			padding-top: 25px;
			width: 100%;
			text-align: center;
	
			.l-4-cols-col {
				padding: 20px 10px 20px 10px;
				padding-right: 10px !important; 
			}
      
        }
	}
	
	.content{
	
		.menu-col.diseno-2-neg{
			float: none;
			display: inline-block;
			height: 450px;
		}
		
		.menu-col.diseno-2{
			float: none;
			display: inline-block;
			height: 450px;
		}
		
		.img-link-cc{
			float: none;
			height: auto;
			width: 100%;
			display: inline-block;
		}
        
        
		
		.galeria-2-cols{
			
			float: none;
			display: inline-block;
			padding: 20px;
			width: 400px;
			
		}
		
		.video-2-cols{
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
			
			iframe{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		
		.video-3-cols{
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
			
			iframe{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		
		.video-4-cols{
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
			
			iframe{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		
		
		.mapa-1-col{
			width: 100%;
			display: inline-block;
			height: initial;
			padding-bottom: 25px;
			
			#columnas{
				width: 100%;
				text-align: center;
				height: initial;
				
				ul{
					padding: 0px;
					margin: 15px;
					width: 60%;
				}
			}
			
			#cmapa{
				position: relative;
				padding-bottom: 75%;
				overflow: hidden;
				top: 120px;
				width: 100%;
			}
			
			#map_canvas{
				width: 100%;
				position: absolute;
			}
			
			#ctexto{
				width: 100%;
			}
		}
		
		.carrousel-1-col{
				.titulo{
					width: 100%;
				}
		}
		
		.html-cc{
			text-align: left;
			display: block;
			width: 100%;
			float: none;
		}
		
		.html-3-col{
			display: block;
			float: none;
			text-align: left;
		}
		
		.html-4-col{
			display: block;
			float: none;
			text-align: left;
		}
		
		ul.site-map-menu{
			text-align: center;
			padding-left: 0px !important;
			
			li{
				list-style-type: none;
			}
		}

        .actividadesr-2-cols{
			width: 75%;
            display: inline-block;
            float: none;
		}
		
		.actividades-2-cols
		{
			width: 100%;
			float: none;
		} 

    
        .html-2-col{
			width: 75%;
			display: inline-block;
			height: initial;
			padding: 20px 10px 20px 10px;
			float: none;

			iframe{
				height: 485px;
			}
		}
	}
	
	.l-noticias-buap{
		
		width: 100%;
		text-align: center;
		
		p.titulo{
			width:100%;
		}
		
		.l-noticias-buap-cols{
			width: 100%;
			text-align: center;
			
			.l-noticias-buap-col{
				display: inline-block;
				padding-left: 0px;
				padding: 10px;
			}
		}
		
	}
		
	.l-footer{
		
		width: 100%;
		text-align: center;
		height: 380px;
        position: relative;
			
		.l-region--footer{
				
			width: 100%;
			text-align: center;
			height: inherit;
				
			.footer-logo-buap{
				float: none;
				display: inline-block;
				width: 100%;
			}
				
			.footer-info-buap{
				display: inline-block;
				float: none;
				width: 100%;
			}
				
			ul.menu{
				display: inline-block;
				float: none;
				padding-top: 20px;
				padding-left: 0px;
				text-align: center;
				width: 100%;
			}
					
			.footer-info-dep{
				display: inline-block;
				float: none;
				padding-top: 20px;
				width: 100%;
			}
		}
	}
}


@media only screen and (min-width: 376px) and (max-width: 650px){

	.l-main{
		width: 100%;
	}
	
	.l-menu {
        .l-region--menu-buap {
            .header-redes {
                    display: none;
                }
                
                ul {
                    &.menu {
                        display: none;
                    }
                }
            }
            .menu-responsive {
                display: block;
                float: right;
                height: 65px;
                width: 65px;
                padding-right: 10px;
                a {
                    display: block;
                }
                .menu-r {
                    display: block !important;
                }
            }
    }
	
	.l-menu-secundario {
        display: none;
    }
	
	.l-slider-principal{
		width: 100%;
	}
	
	.flexslider{
		
		.overlay{
			width:25% !important; 
			text-align: center;
		}
	}
	
	.l-content-lienzo{
	
		text-align: center;
		
		.superpanel{
			overflow: visible;
			text-align: center;
			max-height: none;
			
			.columna-izquierda{
				float: none;
				display: inline-block;
				height: 450px;
			}
			
			.columna-central{
				float: none;
				display: inline-block;
				width: 80%;
			}
			
			.columna-derecha{
				float: none;
				display: inline-block;
				height: 450px;
			}
		}
		
		.l-lienzo-1-col{
			width: 100%;
			text-align: center;
			
			div[id^="node-"]{
				width: 100%;
			}
			
			div[class^="l-1-cols-"]{
				width: 100%;
			}
		}
		
		.l-lienzo-2-cols{
			width: 100%;
			text-align: center;
			
			div[class^="l-2-cols-"]{
				display: initial;
			} 
			
			div[id^="node-"]{
				width: 100%;
			}
		}
		
		.l-lienzo-3-cols{
			width: 100%;
			text-align: center;
			padding: 10px;
			
			div[class^="l-3-cols-"] {
				display: inline-block;
				padding: 20px 10px 20px 10px;
			}
		
		}

		
		.l-lienzo-4-cols {
			padding-top: 25px;
			width: 100%;
			text-align: center;
	
			.l-4-cols-col {
				padding: 20px 10px 20px 10px;
				padding-right: 10px !important; 
				
				.1-4-cols-first{
					margin-top: 20px;
				}
			
			}

        }
	}
	
	.content{
	
		.menu-col.diseno-2-neg{
			float: none;
			display: inline-block;
			height: 450px;
		}
		
		.menu-col.diseno-2{
			float: none;
			display: inline-block;
			height: 450px;
		}
		
		.img-link-cc{
			float: none;
			height: auto;
			width: 100%;
			display: inline-block;
		}
		
		.galeria-2-cols{
			
			float: none;
			display: inline-block;
			padding: 20px;
			width: 400px;	
		}
		
		.galeria-4-cols{
			display: inline-block;
		}
		
		.video-cc{
			width: 100%;
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 40px;
			height: 0;
			overflow: hidden;
			
			iframe{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		
		.video-2-cols{
			width: 100%;
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
			margin-bottom: 20px;
			
			iframe{
				position: absolute;
				top: 0;
				left: 10px;
				width: 100%;
				height: 100%;
			}
		}
		
		.video-3-cols{
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
			
			iframe{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		
		.video-4-cols{
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
			
			iframe{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		
		
		.mapa-1-col{
			width: 100%;
			display: inline-block;
			height: initial;
			padding-bottom: 25px;
			
			#columnas{
				width: 100%;
				text-align: center;
				height: initial;
				
				ul{
					padding: 0px;
					margin: 15px;
					width: 60%;
				}
			}
			
			#cmapa{
				position: relative;
				padding-bottom: 75%;
				overflow: hidden;
				top: 120px;
				width: 100%;
			}
			
			#map_canvas{
				width: 100%;
				position: absolute;
			}
			
			#ctexto{
				width: 100%;
			}
		}
		
		.text-cc{
			width: 100%;
			
			.titulo{
				width: 85%;
			}
			
			.contenido{
				width: 85%;
				margin-bottom: 4px;
			}
			
			.link{
				width: 100%
			}
		}
		
		.text-2-cols{
			width: 100%;
			display: inline-block;
			margin-top: 10px;
			margin-right: 11px;
			
			.titulo{
				width: 80%
			}
			
			.contenido{
				width: 80%;
				margin-bottom: 4px;
			}
			
			.link{
				width: 100%
			}
		}
		
		.carrousel-1-col{
			.titulo{
				width: 100%;
			}
		}
		
		.html-cc{
			text-align: left;
			display: block;
			width: 100%;
			float: none;
		}
		
		.html-3-col{
			display: block;
			float: none;
			text-align: left;
		}
		
		.html-4-col{
			display: block;
			float: none;
			text-align: left;
		}
		
		ul.site-map-menu{
			text-align: center;
			padding-left: 0px !important;
			
			li{
				list-style-type: none;
			}
		}

        .actividadesr-2-cols{
			width: 90%;
			height: 490px;
		}
		
		.actividades-2-cols
		{
			width: 100%;
            height: 490px;
			float: none;

			.views-row
			{
				height: 100px;
                
				.views-field-title
				{
					width: 350px
				}
                
                		.fecha
				{
                    			top: 15px;
                		}
                
                		.views-field-field-texto
				{
                    			height: 55px;
                		}
			}
		} 

        .html-2-col{
			width: 100%;
			display: inline-block;
			height: initial;
			padding: 20px 10px 20px 10px;
			float: none;

			iframe{
				height: 485px;
			}
		}
	}
	
	.l-noticias-buap{
		
		width: 100%;
		text-align: center;
		
		p.titulo{
			width:100%;
		}
		
		.l-noticias-buap-cols{
			width: 100%;
			text-align: center;
			
			.l-noticias-buap-col{
				display: inline-block;
				padding-left: 0px;
				padding: 10px;
			}
		}
		
	}
		
	.l-footer{
		
		width: 100%;
		text-align: center;
		height: 380px;
        position: relative;
			
		.l-region--footer{
				
			width: 100%;
			text-align: center;
			height: inherit;
				
			.footer-logo-buap{
				float: none;
				display: inline-block;
				width: 100%;
			}
				
			.footer-info-buap{
				display: inline-block;
				float: none;
				width: 100%;
			}
				
			ul.menu{
				display: inline-block;
				float: none;
				padding-top: 20px;
				padding-left: 0px;
				text-align: center;
				width: 100%;
			}
					
			.footer-info-dep{
				display: inline-block;
				float: none;
				padding-top: 20px;
				width: 100%;
			}
		}
	}

}

@media  only screen and (min-width: 320px) and (max-width: 375px)/*iPhone 4 y 5*/{

	.l-main{
		width: 100%;
	}
	
	.l-menu {
        .l-region--menu-buap {
            .header-redes {
                    display: none;
                }
                
                ul {
                    &.menu {
                        display: none;
                    }
                }
            }
            .menu-responsive {
                display: block;
                float: right;
                height: 65px;
                width: 65px;
                padding-right: 10px;
                a {
                    display: block;
                }
                .menu-r {
                    display: block !important;
                }
            }
        }
     
	.l-menu-secundario {
        display: none;
    }
		
	.l-slider-principal{
		width: 100%;
	}
	
	.flexslider{
		
		.overlay{
			width:25% !important; 
			text-align: center;
		}
	}
	
	.l-content-lienzo{
	
		text-align: center;
		
		.superpanel{
			overflow: visible;
			text-align: center;
			max-height: none;
			
			.columna-izquierda{
				float: none;
				display: inline-block;
				height: 450px;
			}
			
			.columna-central{
				float: none;
				display: inline-block;
				width: 95%;
				padding-left: 0px;
				padding-right: 0px;
				padding-top: 20px;
			}
			
			.columna-derecha{
				float: none;
				display: inline-block;
				height: 450px;
				padding-bottom: 25px;
			}
		}
		
		.l-lienzo-1-col{
			width: 100%;
			text-align: center;
			
			div[id^="node-"]{
				width: 100%;
			}
			
			div[class^="l-1-cols-"]{
				width: 100%;
			}
		}
		
        .l-lienzo-2-cols{
			
			div[class^="1-2-cols-"]{
				width: 100%;
				padding-right: 0px;
				display: inline-block;
			}

			div[id^="node-"]{
				width: 100%;
				float: none;
			}
		}
		
		.l-lienzo-3-cols{
			width: 100%;
			text-align: center;
			
			div[class^="l-3-cols-"] {
				display: inline-block;
				padding: 20px 0px 20px 0px;
			}
		
		}

		.l-lienzo-4-cols {
			padding-top: 25px;
			width: 100%;
			text-align: center;
	
			.l-4-cols-col {
                padding: 20px 10px 20px 10px;
                padding-right: 10px !important;
			}
      
        }
        
    }
	
	.content{
	
		text-align: center;
	
		.menu-col.diseno-2-neg{
			float: none;
			display: inline-block;
			height: 450px;
		}
		
		.menu-col.diseno-2{
			float: none;
			display: inline-block;
			height: 450px;
		}
		
		.img-link-cc{
			float: none;
			height: auto;
			width: 100%;
			display: inline-block;
		}
		
		.galeria-2-cols{
			
			float: none;
			display: inline-block;
			padding: 20px;
			width: 400px;
			
		}
		
		.galeria-4-cols{
			padding-top: 10px;
		}
		
		.video-cc{
			width: 100%;
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 40px;
			height: 0;
			overflow: hidden;
			
			iframe{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		
		.video-2-cols{
			width: 100%;
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
			
			iframe{
				position: absolute;
				top: 0;
				left: 10px;
				width: 100%;
				height: 100%;
			}
		}
		
		.video-3-cols{
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
			
			iframe{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		
		.video-4-cols{
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
			
			iframe{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		
		.mapa-1-col{
			width: 100%;
			display: inline-block;
			height: initial;
			padding-bottom: 25px;
			
			#columnas{
				width: 100%;
				text-align: center;
				height: initial;
				
				ul{
					padding: 0px;
					margin: 15px;
					width: 60%;
				}
			}
			
			#cmapa{
				position: relative;
				padding-bottom: 75%;
				overflow: hidden;
				top: 120px;
				width: 100%;
			}
			
			#map_canvas{
				width: 100%;
				position: absolute;
			}
			
			#ctexto{
				width: 100%;
			}
		}
		
		.text-cc{
			width: 100%;
			
			.titulo{
				width: 85%;
			}
			
			.contenido{
				width: 85%;
				margin-bottom: 4px;
			}
			
			.link{
				width: 100%
			}
		}
		
		.text-2-cols{
			width: 100%;
			display: inline-block;
			margin-top: 10px;
			margin-right: 11px;
			
			.titulo{
				width: 80%
			}
			
			.contenido{
				width: 80%;
				margin-bottom: 4px;
			}
			
			.link{
				width: 100%
			}
		}
		
		.text-3-cols{
			float: none;
			display: inline-block;
			margin-top: 10px;
			margin-right: 12px;
		}
		
		.carrousel-1-col{
			.titulo{
				width: 100%;
			}
		}
		
		.html-cc{
			text-align: left;
			display: block;
			width: 100%;
			float: none;
		}
		
		.html-3-col{
			display: block;
			float: none;
			text-align: left;
		}
		
		.html-4-col{
			display: block;
			float: none;
			text-align: left;
		}
		
		ul.site-map-menu{
			text-align: center;
			padding-left: 0px !important;
			
			li{
				list-style-type: none;
			}
		}
        
        .actividadesr-2-cols{
			width: 100%;
			height: 490px;
		}
		
		.actividades-2-cols
		{
			width: 100%;
            height: 490px;
			float: none;

			.views-row
			{
				height: 100px;
                
				.views-field-title
				{
					position: relative;
                    			bottom: 60px;
				}
                
                		.fecha
				{
                    			top: 15px;
                		}
                
                		.views-field-field-texto
				{
                    			height: 55px;
                		}
			}
		}

		.html-2-col{
			width: 100%;
			display: inline-block;
			height: initial;
			padding: 20px 10px 20px 0px;
			float: none;

			iframe{
				height: 485px;
			}
		}


	}
	
	.l-noticias-buap{
		
		width: 100%;
		text-align: center;
		
		p.titulo{
			width:100%;
		}
		
		.l-noticias-buap-cols{
			width: 100%;
			text-align: center;
			
			.l-noticias-buap-col{
				display: inline-block;
				padding-left: 0px;
				padding: 10px;
			}
		}
		
	}
		
	.l-footer{
		
		width: 100%;
		text-align: center;
		height: 380px;
        position: relative;
			
		.l-region--footer{
				
			width: 100%;
			text-align: center;
			height: inherit;
				
			.footer-logo-buap{
				float: none;
				display: inline-block;
				width: 100%;
			}
				
			.footer-info-buap{
				display: inline-block;
				float: none;
				width: 100%;
			}
				
			ul.menu{
				width: 100%;
				display: inline-block;
				float: none;
				padding-top: 20px;
				padding-left: 0px;
				text-align: center;
			}
					
			.footer-info-dep{
				width: 100%;
				display: inline-block;
				float: none;
				padding-top: 20px;
			}
		}
	}

}

/* Responsive hacks */

@media only screen and (max-width: 900px) {
	.node-type-p-gina-lista-de-contenido- {
		.lc-3-cols {
			width: 420px;
			margin: 0 auto;
			display: block;
		}
	}

	.node-type-p-gina {

		.l-content {
			padding: 10px;
			.col-principal {
				width: 100%;
			}
		}
	}
}