@import "plantilla_buap_common.scss";

/* Recursos */
.content {
    .peso {
        position: absolute;
        color: rgba(120,120,120,0.8);
        font-size: 128px;
        text-align: center;
        width: 100%;
    }

    .menu-col {
        &.diseno-2 {
            width: 315px;
            height: 780px;
            background: rgb(0,181,226);
            float: left;
            border-bottom: 4px solid white;


            .titulo {
                color: white;
                font-size: 25px;
                text-align: center;
                padding-top: 20px;
                position: relative;
                /*height: 60px;*/
                overflow: hidden;

                p {
                    display: inline-block;
                    border-bottom: 2px solid white;
                    border-top: 2px solid white;
                    width: 85%;
                    padding: 10px 0px;
                }

            }

            .menu {
                width: 100%;
                height: 700px;
                max-height: 700px;

                ul {
                    margin: 0;
                    padding-right: 30px;
                    padding-left: 30px;
                    max-height: 692px;
                    height: 692px;
                    overflow-y: auto;

                    li {
                        list-style: none;
                        line-height: 26px;
                        border-bottom: 1px solid white;
                        padding: 5px 10px;
                        a {
                            color: white;
                            text-decoration: none;
                            font-size: 17px;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }

            }
        }
        &.diseno-2-neg {
            width: 315px;
            height: 780px;
            background: white;
            float: left;
            border-bottom: 4px solid rgb(0,181,226);

            .titulo {
                color: rgb(0,181,226);
                font-size: 25px;
                text-align: center;
                padding-top: 20px;
                position: relative;
               /* height: 60px;*/
                overflow: hidden;


                p {
                    display: inline-block;
                    border-bottom: 2px solid rgb(0,181,226);
                    border-top: 2px solid rgb(0,181,226);
                    width: 85%;
                    padding: 10px 0px;
                }

            }

            .menu {
                width: 100%;
                height: 700px;
                max-height: 700px;

                ul {
                    margin: 0;
                    padding-right: 30px;
                    padding-left: 30px;
                    max-height: 692px;
                    height: 692px;
                    overflow-y: auto;

                    li {
                        list-style: none;
                        line-height: 26px;
                        border-bottom: 1px solid rgb(0,181,226);
                        padding: 5px 10px;

                        a {
                            color: rgb(0,59,92);
                            text-decoration: none;
                            font-size: 17px;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }

            }
        }

    }

    .menu-2-cols {
        &.diseno-3 {
            height: 380px;
            width: 637px;
			position: relative;
			overflow: hidden;

			.caret {
				/*transform: rotate(71deg);*/
                background: #00b5e2;
                position: absolute;
                width: 100%;
                overflow: hidden;
                height: 586px;
                bottom: -293px!important;
                display: none;
			}

			.menu {
			/*	position: absolute;
				bottom: 0px;*/
				background: rgba(0, 181, 226, 0.8);
				padding-top: 20px;
				ul {
                    list-style: none;
                    padding-left: 10px;
                    padding-right: 25px;
                    font-size: 13px;
                    color: white;
                    max-height: 300px;
                    overflow-y: auto;
                    width: 571px;
                    height: 300px;

                    a {
                        color: white;
                        text-decoration: none;
                        font-size: 15px;
                        width: 100%;
                        display: block;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

					li {
						padding-left: 15px;
                        padding-bottom: 5px;
                        padding-top: 5px;

						&:hover {
                            border-left: 2px solid #002d4a;
                        }
					}
				}
			}
            .titulo {
                position: absolute;
                bottom: 0px;
                text-align: center;
                width: 100%;
                color: white;
                font-size: 18px;
                font-family: sourcesans_light;
                padding-bottom: 10px;
                padding-top: 10px;
                z-index: 500;
                max-height: 45px;
                overflow: hidden;
                background: rgb(0, 181, 226);
            }

            .animacion {
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                bottom: -333px;
                transition: all 0.75s ease-in-out;
            }

            &:hover {
                .animacion {
                    transform: translateY(-329px);
                    transition: all 0.75s ease-in-out;
                }
            }
        }
        
        &.diseno-1 {
            height: 380px;
            width: 637px;
            float: left;
            position: relative;

            .titulo {
                width: 100%;
                height: 75px;
                /*background: rgba(255,255,255,0.5);*/
                background: rgb(0,59,92);
                font-size: 20px;
                text-align: center;
                position: absolute;
                top: 0;

                p {
                    padding-top: 23px;
                    width: 80%;
                    margin: 0 auto;
                    max-height: 50px;
                    overflow: hidden;
                    /*text-shadow: 1px 1px 0px white, 1px -1px 0px #ffffff, -1px -1px 0px #ffffff, -1px 1px 0px #ffffff;*/
                    color: white;
                }
            }

            &:hover {
                .menu {
                    opacity: 1;
                }
            }
            .menu {
                position: absolute;
                top: 75px;
                background: rgba(255,255,255,0.5);
                width: 100%;
                height: 304px;
                -moz-transition: opacity .5s ease-in-out;
                -webkit-transition: opacity .5s ease-in-out;
                transition: opacity .5s ease-in-out;
                opacity: 0;
                border-top: 1px solid #003b5c;

                ul {
                    margin-top: 0;
                    text-align: right;
                    padding-right: 30px;
                    padding-left: 30px;
                    max-height: 300px;
                    overflow-y: auto;

                    li {
                        list-style: none;
                        padding-top: 10px;
                        line-height: 25px;

                        a {
                            text-decoration: none;
                            color: rgb(0,59,92);
                            /*text-shadow: 1px 1px 0px white, 1px -1px 0px #ffffff, -1px -1px 0px #ffffff, -1px 1px 0px #ffffff;*/

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
        &.diseno-2 {
            width: 637px;
            height: 380px;
            background: rgb(0,181,226);
            float: left;

            .titulo {
                color: white;
                font-size: 30px;
                text-align: right;
                padding-top: 20px;
                padding-right: 10px;
                position: relative;
                height: 60px;

                p {
                    display: inline-block;
                    position: absolute;
                    right: 30px;
                    border-bottom: 2px solid white;
                    border-top: 2px solid white;
                }
            }

            .menu {
                width: 100%;
                height: 300px;
                max-height: 300px;

                ul {
                    margin: 0;
                    padding-right: 30px;
                    padding-left: 30px;
                    max-height: 290px;
                    overflow-y: auto;

                    li {
                        list-style: none;
                        line-height: 40px;
                        border-bottom: 1px solid white;

                        a {
                            color: white;
                            text-decoration: none;
                            font-size: 20px;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

         &.diseno-2-neg {
            width: 637px;
            height: 380px;
            background: white;
            float: left;
            border-bottom: 4px solid rgb(0,181,226);

            .titulo {
                color: rgb(0,181,226);
                font-size: 30px;
                text-align: right;
                padding-top: 20px;
                padding-right: 10px;
                position: relative;
                height: 60px;

                p {
                    display: inline-block;
                    position: absolute;
                    right: 30px;
                    border-bottom: 2px solid rgb(0,181,226);
                    border-top: 2px solid rgb(0,181,226);
                }
            }

            .menu {
                width: 100%;
                height: 300px;
                max-height: 300px;

                ul {
                    margin: 0;
                    padding-right: 30px;
                    padding-left: 30px;
                    max-height: 290px;
                    overflow-y: auto;

                    li {
                        list-style: none;
                        line-height: 40px;
                        border-bottom: 1px solid rgb(0,181,226);

                        a {
                            color: rgb(0,59,92);
                            text-decoration: none;
                            font-size: 20px;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

        &.diseno-4 {
            position: relative;

            .titulo {
                position: absolute;
                color: white;
                top: 15px;
                padding-top: 10px;
                padding-bottom: 10px;
                background: rgba(0, 60, 93, 0.9);
                left: 15px;
                width: 400px;
                text-align: center;
                font-size: 20px;
                font-weight: bold;
            }
            .overlay-menu {
                width: 637px;
                height: 380px;
                position: absolute;
                top: 0;
                background: rgba(0, 59, 91, 0.5);
            }

            .menu {
                position: absolute;
                width: 400px;
                top: 75px;
                background: rgba(0, 60, 93, 0.9);
                left: 15px;
                color: white;
                height: 287px;

                ul {
                    li {
                        list-style-type: none;
                    }
                }
                a { 
                    color: white;
                    font-size: 18px;
                    font-family: sourcesans_bold;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    display: block;
                    text-decoration: none;
                    &:hover { text-decoration: underline; }
                }
            }
        }
    }

    .menu-3-cols {
        &.diseno-1 {
            height: 344px;
            width: 416px;
            float: left;
            position: relative;

            .titulo {
                width: 100%;
                height: 75px;
                /*background: rgba(255,255,255,0.5);*/
                background: rgb(0,59,92);
                font-size: 20px;
                text-align: center;
                position: absolute;
                top: 0;

                p {
                    padding-top: 15px;
                    width: 80%;
                    margin: 0 auto;
                    max-height: 50px;
                    overflow: hidden;
                    /*text-shadow: 1px 1px 0px white, 1px -1px 0px #ffffff, -1px -1px 0px #ffffff, -1px 1px 0px #ffffff;*/
                    color: white;
                }
            }

            &:hover {
                .menu {
                    opacity: 1;
                }
            }
            .menu {
                position: absolute;
                top: 75px;
                background: rgba(255,255,255,0.5);
                width: 100%;
                height: 269px;
                -moz-transition: opacity .5s ease-in-out;
                -webkit-transition: opacity .5s ease-in-out;
                transition: opacity .5s ease-in-out;
                opacity: 0;
                border-top: 1px solid #003b5c;

                ul {
                    margin-top: 0;
                    text-align: right;
                    padding-right: 30px;
                    padding-left: 30px;
                    max-height: 260px;
                    overflow-y: auto;

                    li {
                        list-style: none;
                        padding-top: 10px;
                        line-height: 25px;

                        a {
                            text-decoration: none;
                            color: rgb(0,59,92);
                            /*text-shadow: 1px 1px 0px white, 1px -1px 0px #ffffff, -1px -1px 0px #ffffff, -1px 1px 0px #ffffff;*/

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
        &.diseno-3 {
			height: 344px;
            width: 416px;
			position: relative;
			overflow: hidden;

			.caret {
				/*transform: rotate(71deg);*/
                background: #00b5e2;
                position: absolute;
                width: 100%;
                overflow: hidden;
                height: 586px;
                bottom: -293px!important;
                display: none;
			}

			.menu {
			/*	position: absolute;
				bottom: 0px;*/
				background: rgba(0, 181, 226, 0.8);
				padding-top: 20px;
				ul {
					list-style: none;
                    padding-left: 10px;
                    padding-right: 25px;
                    font-size: 13px;
                    color: white;
                    max-height: 300px;
                    overflow-y: auto;
                    width: 380px;
                    height: 270px;

                    a {
                        color: white;
                        text-decoration: none;
                        font-size: 15px;
                        width: 100%;
                        display: block;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

					li {
						padding-left: 15px;
                        padding-bottom: 5px;
                        padding-top: 5px;

						&:hover {
                            border-left: 2px solid #002d4a;
                        }
					}
				}
			}
            .titulo {
                position: absolute;
                bottom: 0px;
                text-align: center;
                width: 100%;
                color: white;
                font-size: 18px;
                font-family: sourcesans_light;
                padding-bottom: 10px;
                padding-top: 10px;
                z-index: 500;
                max-height: 45px;
                overflow: hidden;
                background: rgb(0, 181, 226);
            }

            .animacion {
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                bottom: -295px;
                transition: all 0.75s ease-in-out;
            }

            &:hover {
                .animacion {
                    transform: translateY(-295px);
                    transition: all 0.75s ease-in-out;
                }
            }
        }
        
        &.diseno-4 {
            position: relative;

            .titulo {
                position: absolute;
                color: white;
                top: 15px;
                padding-top: 10px;
                padding-bottom: 10px;
                background: rgba(0, 60, 93, 0.9);
                left: 15px;
                width: 385px;
                text-align: center;
                font-size: 20px;
                font-weight: bold;
            }
            .overlay-menu {
                width: 416px;
                height: 344px;
                position: absolute;
                top: 0;
                background: rgba(0, 59, 91, 0.5);
            }

            .menu {
                position: absolute;
                width: 385px;
                top: 75px;
                background: rgba(0, 60, 93, 0.9);
                left: 15px;
                color: white;
                height: 268px;

                ul {
                    li {
                        list-style-type: none;
                    }
                }
                a { 
                    color: white;
                    font-size: 18px;
                    font-family: sourcesans_bold;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    display: block;
                    text-decoration: none;
                    &:hover { text-decoration: underline; }
                }
            }
        }
    }

   .menu-4-cols {
    /*     &.diseno-1 {
            height: 246px;
            width: 306px;
            float: left;
            position: relative;

            .titulo {
                width: 100%;
                height: 50px;
                background: rgba(255,255,255,0.5);
                color: rgb(0,59,92);
                font-size: 20px;
                text-align: center;
                position: absolute;
                top: 0;

                p {
                    padding-top: 15px;
                    width: 80%;
                    margin: 0 auto;
                    max-height: 50px;
                    overflow: hidden;
                    text-shadow: 1px 1px 0px white, 1px -1px 0px #ffffff, -1px -1px 0px #ffffff, -1px 1px 0px #ffffff;
                    color: #010646;

                }
            }

            &:hover {
                .menu {
                    opacity: 1;
                }
            }

            .menu {
                    position: absolute;
                    top: 50px;
                    background: rgba(255, 255, 255, 0.8);
                    width: 100%;
                    height: 196px;
                    -moz-transition: opacity 0.5s ease-in-out;
                    -webkit-transition: opacity 0.5s ease-in-out;
                    transition: opacity 0.3s ease-in-out;
                    opacity: 0;
                    border-top: 1px solid #003b5c;

                ul {
                    margin-top: 0;
                    text-align: right;
                    padding-right: 30px;
                    padding-left: 30px;
                    max-height: 180px;
                    overflow-y: auto;

                    li {
                        list-style: none;
                        padding-top: 10px;
                        line-height: 25px;

                        a {
                            text-decoration: none;
                            color: rgb(0,59,92);
                             text-shadow: 1px 1px 0px white, 1px -1px 0px #ffffff, -1px -1px 0px #ffffff, -1px 1px 0px #ffffff;

                        &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        } */
        &.diseno-1 {
            height: 246px;
            width: 306px;
            float: left;
            position: relative;

            .titulo {
                width: 100%;
                height: 45px;
                background: rgb(0, 59, 92);
                color: #FFF;
                font-size: 20px;
                text-align: center;
                position: absolute;
                top: 0;

                p {
                    padding-top: 8px;
                    width: 80%;
                    margin: 0 auto;
                    max-height: 45px;
                    overflow: hidden;
                  /*  text-shadow: 1px 1px 0px white, 1px -1px 0px #ffffff, -1px -1px 0px #ffffff, -1px 1px 0px #ffffff;*/
                    color: #FFF;

                }
            }

            &:hover {
                .menu {
                    opacity: 1;
                }
            }

            .menu {
                    position: absolute;
                    top: 45px;
                    background: rgba(255, 255, 255, 0.85);
                    width: 100%;
                    height: 200px;
                    -moz-transition: opacity 0.5s ease-in-out;
                    -webkit-transition: opacity 0.5s ease-in-out; 
                    transition: opacity 0.3s ease-in-out; 
                    opacity: 0;
                    border-top: 1px solid #003b5c;

                ul {
                    margin-top: 0;
                    text-align: right;
                    padding-right: 30px;
                    padding-left: 30px;
                    max-height: 185px;
                    overflow-y: auto;

                    li {
                        list-style: none;
                        padding-top: 10px;
                        line-height: 20px;

                        a {
                            text-decoration: none;
                            color: #003b5c;
							font-size: 15px;
                          /*   text-shadow: 1px 1px 0px white, 1px -1px 0px #ffffff, -1px -1px 0px #ffffff, -1px 1px 0px #ffffff;*/

                        &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }


		&.diseno-3 {
			width: 306px;
			height: 246px;
			position: relative;
            overflow: hidden;
            
            .caret {
				/*transform: rotate(71deg);*/
                background: #00b5e2;
                position: absolute;
                width: 100%;
                overflow: hidden;
                height: 586px;
                bottom: -293px!important;
                display: none;
			}

			.menu {
			/*	position: absolute;
				bottom: 0px;*/
				background: rgba(0, 181, 226, 0.8);
				padding-top: 5px;
				ul {
					list-style: none;
                    padding-left: 10px;
                    padding-right: 25px;
                    font-size: 13px;
                    color: white;
                    max-height: 300px;
                    overflow-y: auto;
                    width: 270px;
                    height: 185px;

                    a {
                        color: white;
                        text-decoration: none;
                        font-size: 15px;
                        width: 100%;
                        display: block;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

					li {
						padding-left: 15px;
                        padding-bottom: 5px;
                        padding-top: 5px;

						&:hover {
                            border-left: 2px solid #002d4a;
                        }
					}
				}
			}
            .titulo {
                position: absolute;
                bottom: 0px;
                text-align: center;
                width: 100%;
                color: white;
                font-size: 18px;
                font-family: sourcesans_light;
                padding-bottom: 10px;
                padding-top: 10px;
                z-index: 500;
                max-height: 45px;
                overflow: hidden;
                background: rgb(0, 181, 226);
            }

            .animacion {
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                bottom: -295px;
                transition: all 0.75s ease-in-out;
            }

            &:hover {
                .animacion {
                    transform: translateY(-295px);
                    transition: all 0.75s ease-in-out;
                }
            }
			/*.caret {
				transform: rotate(+71deg);
				background: rgb(0, 181, 226);
				position: absolute;
				width: 100%;
				overflow: hidden;
				height: 430px;
				bottom: -151px !important;
			}

			.menu {
				position: absolute;
				bottom: 40px;
				background: rgb(0, 181, 226);

				ul {
					list-style: none;
                    padding-left: 10px;
                    padding-right: 25px;
                    font-size: 13px;
                    color: white;
                    max-height: 85px;
                    overflow-y: auto;
                    width: 205px;

                    a {
                        color: white;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

					li {
						padding-left: 15px;

						&:hover {
                            border-left: 2px solid #002d4a;
                        }
					}
				}
			}

            .titulo {
                position: absolute;
                bottom: 0px;
                text-align: center;
                width: 100%;
                color: white;
                font-size: 18px;
                font-family: sourcesans_light;
                padding-bottom: 10px;
                padding-top: 10px;
                z-index: 500;
                max-height: 45px;
                overflow: hidden;
                background: rgb(0, 181, 226);
            }

            .animacion {
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                bottom: -104px;
                transition: all 0.5s ease-in-out;
            }

            &:hover {
                .animacion {
                    transform: translateY(-104px);
                    transition: all 0.5s ease-in-out;
                }
            } */
        }
        &.diseno-4 {
            position: relative;

            .titulo {
                position: absolute;
                color: white;
                top: 5px;
                padding-top: 10px;
                padding-bottom: 10px;
                background: rgba(0, 60, 93, 0.9);
                left: 5px;
                width: 296px;
                text-align: center;
                font-size: 20px;
                font-weight: bold;
            }
            .overlay-menu {
                width: 306px;
                height: 246px;
                position: absolute;
                top: 0;
                background: rgba(0, 59, 91, 0.5);
            }

            .menu {
                position: absolute;
                width: 296px;
                top: 55px;
                background: rgba(0, 60, 93, 0.9);
                left: 5px;
                color: white;
                height: 190px;

                ul {
                    li {
                        list-style-type: none;
                    }
                }
                a { 
                    color: white;
                    font-size: 18px;
                    font-family: sourcesans_bold;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    display: block;
                    text-decoration: none;
                    &:hover { text-decoration: underline; }
                }
            }
        }
    }

    .menu-cc {
        height: 383px;
        width: 620px;
        background: rgb(0,59,92);
        position: relative;

        img {
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }

        .titulo {
            font-size: 40px;
            position: absolute;
            color: white;
            width: 425px;
            /*left: 177px;*/
            right: 12px;
            text-align: center;
            top: 10px;
            border-bottom: 2px solid white;
            border-top: 2px solid white;
        }

        ul.menu {
            position: absolute;
            top: 73px;
            text-align: right;
            width: 425px;
            padding-left: 0;
            left: 177px;
            max-height: 295px;
            overflow-y: auto;

            li {
                list-style: none;
                font-size: 17px;
                padding-top: 10px;

                &:hover {
                    background: rgb(0,181,226);
                }

                a {
                    color: white;
					text-decoration: none;
					width: 100%;
					display: block;
                }
            }
        }
    }

	.html-2-col {
		width: 637px;
		height: 380px;
		float: left;
		overflow: hidden;

		.titulo {
			width: 100%;
			height: 50px;
			background: #516978;
			color: #fff;
			font-size: 24px;
			text-align: center;

			p {
				padding-top: 10px;
				font-family: sourcesans_light;
			}

		}
	}

    .html-3-col {
		width: 416px;
		height: 344px;
		float: left;
		overflow: hidden;

		.titulo {
			width: 100%;
			height: 50px;
			background: #516978;
			color: #fff;
			font-size: 24px;
			text-align: center;

			p {
				padding-top: 10px;
				font-family: sourcesans_light;
			}

		}
	}

    .html-4-col {
		height: 246px;
        width: 306px;
		float: left;
		overflow: hidden;

		.titulo {
			width: 100%;
			height: 50px;
			background: #516978;
			color: #fff;
			font-size: 24px;
			text-align: center;

			p {
				padding-top: 10px;
				font-family: sourcesans_light;
			}

		}
    }
    
    .html-1v-col {
        width: 100%;
    }

    .html-cc {
        width: 620px;
        height: 383px;
		float: left;
		overflow: hidden;

		.titulo {
			width: 100%;
			height: 50px;
			background: #516978;
			color: #fff;
			font-size: 24px;
			text-align: center;

			p {
				padding-top: 10px;
				font-family: sourcesans_light;
			}

		}
	}

    .img-cc {
		float: left;
		width: 645px;
        height: 383px;
		position: relative;
    }

    .img-2-col {
		float: left;
		width: 637px;
		height: 380px;
		position: relative;
	}

	.img-3-col {
		float: left;
		width: 416px;
		height: 344px;
		position: relative;
	}

    .img-4-col {
		float: left;
		width: 306px;
        height: 246px;
		position: relative;
	}

	.img-link-2-col {
        float: left;
        width: 637px;
        height: 380px;
        position: relative;

        a {
			background: rgba(0, 0, 0, 0.4);
            position: absolute;
			top: 170px;
			width: 94%;
            text-align: center;
            text-transform: uppercase;
            color: white;
            font-size: 20px;
            text-decoration: none;
            border: 1px solid white;
            left: 17px;
            display: block;
            padding-top: 5px;
            padding-bottom: 5px;
            text-shadow: 1px 1px #333;

            &:hover {
                background: rgba(0, 181, 226, 0.75);
            }
        }
    }


    .img-link-3-col {
        float: left;
        width: 416px;
        height: 344px;
        position: relative;

        a {
			background: rgba(0, 0, 0, 0.4);
            position: absolute;
            top: 154px;
            width: 90%;
            text-align: center;
            text-transform: uppercase;
            color: white;
            font-size: 20px;
            text-decoration: none;
            border: 1px solid white;
            left: 17px;
            display: block;
            padding-top: 5px;
            padding-bottom: 5px;
            text-shadow: 1px 1px #333;

            &:hover {
                background: rgba(0, 181, 226, 0.75);
            }
        }
    }

    .img-link-4-col {
        float: left;
        width: 306px;
        height: 246px;
        position: relative;

        a {
			background: rgba(0, 0, 0, 0.4);
            position: absolute;
            top: 105px;
            width: 90%;
            text-align: center;
            text-transform: uppercase;
            color: white;
            font-size: 17px;
            text-decoration: none;
            border: 1px solid white;
            left: 12px;
            display: block;
            padding-top: 5px;
            padding-bottom: 5px;
            text-shadow: 1px 1px #333;

            &:hover {
                background: rgba(0, 181, 226, 0.75);
            }
        }
    }

        .img-link-cc {
            float: left;
            width: 645px;
            height: 383px;
            position: relative;

            a {
                position: absolute;
                top: 172px;
                width: 90%;
                text-align: center;
                text-transform: uppercase;
                color: white;
                font-size: 17px;
                text-decoration: none;
                border: 1px solid white;
                left: 30px;
                display: block;
                padding-top: 5px;
                padding-bottom: 5px;
                text-shadow: 1px 1px #333;

                &:hover {
                    background: rgba(0, 181, 226, 0.75);
                }
            }
        }

        .galeria-2-cols {
            width: 637px;
            height: 380px;
            float: left;
            overflow: hidden;
        }

        .galeria-3-cols {
            width: 416px;
            height: 344px;
            float: left;
            overflow: hidden;
        }

        .galeria-4-cols {
            width: 306px;
            height: 246px;
            float: left;
            overflow: hidden;
        }

        .galeria-cc {
            width: 620px;
            height: 383px;
            float: left;
            overflow: hidden;
        }
		
		.video-1-col {
          width: 100%;
          height: auto;
          background: black;
          overflow: hidden;
          p {
            display: none;
          }
          iframe {
            width: 1120px;
            height: 630px;
            display: block;
            margin: 0 auto;
          }
        }

        .video-2-cols {
            width: 637px;
            height: 380px;
            float: left;
            overflow: hidden;

            p {
                display: none;
            }

            iframe {
                width: 637px;
                height: 380px;
            }
        }

        .video-3-cols {
            width: 416px;
            height: 344px;
            float: left;
            overflow: hidden;
            position: relative;

            p {
                width: 100%;
                text-align: center;
                font-family: sourcesans_bold;
                color: rgb(0, 59, 92);
                font-size: 20px;
                padding-top: 10px;
            }

            iframe {
                width: 416px;
                height: 285px;
                margin-top: 10px;
                position: absolute;
                bottom: 0;
            }
        }

        .video-4-cols {
            width: 306px;
            height: 246px;
            float: left;
            overflow: hidden;
            position: relative;

            p {
                width: 100%;
                text-align: center;
                font-family: sourcesans_bold;
                color: rgb(0, 59, 92);
                font-size: 18px;
                padding-top: 10px;
            }

            iframe {
                width: 306px;
                height: 195px;
                margin-top: 10px;
                position: absolute;
                bottom: 0;
            }
        }

        .video-cc {
            width: 620px;
            height: 383px;
            float: left;
            overflow: hidden;

            iframe {
                width: 620px;
                height: 383px;
            }

            p {
                display: none;
            }
        }

        .text-2-cols {
            width: 637px;
            height: 380px;
            background-color: #e6ebed;
            color: #002d4a;
            float: left;
            overflow: hidden;
            position: relative;

            .titulo {
                font-family: sourcesans_light;
                text-transform: uppercase;
                width: 560px;
                margin: 0 auto;
                border-bottom: 2px solid;
                font-size: 16px !important;
            }

            .contenido {
                width: 560px;
                margin: 0 auto;
                padding-top: 20px;
                text-align: right;
                height: 215px;
                max-height: 215px;
                overflow-y: auto;
            }

            .contenido-full {
                width: 560px;
                margin: 0 auto;
                padding-top: 20px;
                text-align: right;
                height: 260px;
                max-height: 260px;
                overflow-y: auto;
            }

            .link {
                width: 560px;
                margin: 0 auto;
                text-align: center;
                height: 70px;
                padding-top: 15px;

                a {
                    text-transform: uppercase;
                    text-decoration: none;
                    text-align: center;
                    color: #002d4a;
                    display: inline-block;
                    width: 205px;
                    height: 30px;
                    margin: 0 auto;
                    border: 1px solid;
                    padding-top: 10px;
                    bottom: 15px;

                    &:hover {
                        background: rgba(0,181,226,0.75);
                        color: white;
                    }
                }
            }
        }

        .text-3-cols {
            width: 416px;
            height: 344px;
            background-color: #e6ebed;
            color: #002d4a;
            float: left;
            overflow: hidden;
            position: relative;

            .titulo {
                font-family: sourcesans_light;
                text-transform: uppercase;
                width: 350px;
                margin: 0 auto;
                border-bottom: 2px solid;
                font-size: 16px !important;
            }

            .contenido {
                width: 350px;
                margin: 0 auto;
                padding-top: 10px;
                text-align: right;
                height: 200px;
                max-height: 200px;
                overflow-y: auto;
            }

             .contenido-full {
                width: 350px;
                margin: 0 auto;
                padding-top: 10px;
                text-align: right;
                height: 240px;
                max-height: 240px;
                overflow-y: auto;
            }

            .link {
                width: 305px;
                margin: 0 auto;
                text-align: center;
                height: 70px;
                padding-top: 15px;

                a {
                    text-transform: uppercase;
                    text-decoration: none;
                    text-align: center;
                    color: #002d4a;
                    display: inline-block;
                    width: 100%;
                    height: 30px;
                    margin: 0 auto;
                    border: 1px solid;
                    padding-top: 10px;
                    bottom: 15px;
                    font-size: 15px;

                    &:hover {
                        background: rgba(0,181,226,0.75);
                        color: white;
                    }
                }
            }
        }

        .text-cc {
            width: 645px;
            height: 383px;
            background-color: #e6ebed;
            color: #002d4a;
            float: left;
            overflow: hidden;
            position: relative;

            .titulo {
                font-family: sourcesans_light;
				text-transform: uppercase;
				width: 550px;
				margin: 0 auto;
				border-bottom: 2px solid;
                font-size: 16px !important;
            }

            .contenido {
                width: 550px;
				margin: 0 auto;
				padding-top: 20px;
				text-align: right;
				height: 215px;
				max-height: 215px;
				overflow-y: auto;
            }

            .contenido-full {
                width: 550px;
				margin: 0 auto;
				padding-top: 20px;
				text-align: right;
				height: 265px;
				max-height: 265px;
				overflow-y: auto;
            }

            .link {
                width: 550px;
				margin: 0 auto;
				text-align: center;
				height: 70px;
				padding-top: 15px;

                a {
                    text-transform: uppercase;
                    text-decoration: none;
                    text-align: center;
                    color: #002d4a;
                    display: inline-block;
                    width: 205px;
                    height: 30px;
                    margin: 0 auto;
                    border: 1px solid;
                    padding-top: 10px;
                    bottom: 15px;

                    &:hover {
                        background: rgba(0,181,226,0.75);
				        color: white;
                    }
                }
            }
        }

        .mapa-1-col {
            width: 1300px;
            height: 400px;
            padding-top: 25px;

            .peso {
                z-index: 90;
                width: initial;
                clear: both;
                left: 0;
                right: 0;
            }
            p {
                margin-left: 96px;

                a {
                    text-decoration:none;
                    color:#002850;
                    font-size: 18px;

                    &:link {
                        text-decoration:none;
                    }

                    &:hover {
                        text-decoration:none;
                        color: #002850;
                    }

                    &:active {
                    text-decoration:none;
                    color: #002850;
                    }


                }
            }

            li {
            list-style-type:none;
            text-align:left;
            font-size: 17px;
            color: #002850;
            }

            #columnas {
                width: 690px;
                height: 400px;
                margin: 0 auto;
                position: absolute;
                overflow-x: hidden;
                overflow-y: auto;
            }

            #cmapa {
                width: 600px;
                height: 100px;
                float:right;
            }

            #ctexto {
                width: 640px;
                height: 75px;
                margin: auto;
                float:left;
                cursor: pointer;
            }

            #ctexto:focus {
                background-color: red;
            }

            #map_canvas {
            width: 600px;
            height:400px;
            }
        }

        .mapa-2-cols {
            width: 637px;
            height: 380px;
            /*padding-top: 25px;*/
            position: relative;

            .peso {
                z-index: 90;
                width: initial;
                /*display: block;*/
                clear: both;
                left: 0;
                right: 0;
            }

            #columnas {
                width: 40%;
                height: 384px;
                position: absolute;
                z-index: 10000;
                background: rgba(0, 60, 94, 0.75);
                color: white;
                -webkit-transition: width 1s ease-in-out;
                -moz-transition: width 1s ease-in-out;
                -o-transition: width 1s ease-in-out;
                transition: width 1s ease-in-out;

                .tab {
                    position: absolute;
                    top: 21px;
                    right: -18px;
                    background: rgba(0, 60, 94, 0.75);
                    padding: 5px;
                    color: white;
                    border-radius: 0px 5px 5px 0px;
                    transform: scaley(2.4);
                    a {
                        color: inherit;
                        text-decoration: none;
                    }
                }

                .titulo {
                    font-size: 30px;
                    padding-left: 10px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border-bottom: 2px solid white;
                    width: 95%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                ul {
                    padding-left: 0;
                    margin: 0;
                    height: 324px;
                    overflow-y: auto;
                }
            }

            li {
            list-style-type:none;
            text-align: right;
            font-size: 17px;
            color: white;
                p {
                    border-bottom: 2px solid rgba(0, 198, 245, 0.25);
                    padding-right: 10px;
                    a {
                        color: inherit;
                        cursor: pointer;
                        width: 100%;
                        display: block;
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                }

            }


            #cmapa {
                width: 100%;
                height: 100%;
                float:right;
            }

            #map_canvas {
            width: 100%;
            height: 100%;
            }
        }

        .noticias-buap {
            width: 300px;
            overflow: hidden;

            img {
                width: 300px;
                /*height: 141px;*/

                &:hover {
                    border-bottom: thick solid #00B5DF;
                    margin-bottom: -5px;
                }
            }
            .titulo {
                font-family: sourcesans_light;
                font-size: 17px;
                text-align: justify;
            }

            .leer-mas {
                a {
                    color: #00B5DF;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 20px;
                }
            }
        }

		.actividadesr-2-cols {
			width: 637px;
			height: 380px;
		}

    .actividadesr-1-col {
      width: 1300px;
      min-height: 161px;

      .view-empty {
        display: block;
        margin: 0 auto;
        text-align: center;
        background: #e6e6e6;
        width: 400px;
        padding-top: 72px;
        padding-bottom: 72px;
      }
      .view-vista-actividades-2 {
        width: 100%;

        .views-row {
          width: 250px;
          background: #e6e6e6;
          overflow: hidden;
          min-height: 350px;
          padding: 20px;
          margin-left: 23px;
          margin-right: 23px;
          float: left;

          .views-field-field-imagen-actividades {
            img {
              display: block;
              margin: 0 auto;
              width: 180px;
              height: auto;
              border-bottom: 4px solid #e6e6e6;

              &:hover {
                    border-bottom: 4px solid #00c7f5;
              }
            }
          }

          .views-field-title {
            padding-top: 20px;
            text-align: center;

            a {
              color: #003b5b;
              font-family: sourcesans_bold;
            }
          }

          .views-field-field-fecha {
            display: block;
            text-align: center;
            margin-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #adada9;
            margin-bottom: 10px;
          }

          &.views-row-first {
            margin-right: 23px;
            margin-left: 0 !important;
          }

          &.views-row-last {
            margin-left: 23px;
            margin-right: 0 !important;
          }

          a {
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }

        }
      }
    }

	.lienzo_-1-col {
		width: 100%;

		.titulo {
            font-family: sourcesans_bold;
            font-size: 36px;
            text-align: center;
            font-variant: small-caps;
            width: 1300px;
        }
	}
}

.node--carrousel- {
    .contextual-links-wrapper {
        position: absolute;
        left: 0;
    }

    .contextual-links {
        left: 0 !important;
        right: initial !important;
    }

    .carrousel-1-col {
            padding-top: 25px;

        .peso {
            text-align: center !important;
            width: 1300px !important;
            z-index: 10;
            display: block;
            clear: both;
            left: 0;
            right: 0;
        }

        .caballo {
            width: 191px;
            height: 107px;
            padding-right: 25px;
        }

        .titulo {
            font-family: sourcesans_bold;
            font-size: 36px;
            text-align: center;
            font-variant: small-caps;
            width: 1300px;
        }
    }
}

.noticias-rd-2-cols {
    width: 637px;
    height: 380px;
    background: #e5e5e5;
    float: left;
    overflow: hidden;

    .titulo {
        width: 100%;
        height: 50px;
        background: rgb(81, 105, 120);
        color: white;
        font-size: 24px;
        text-align: center;
        padding-top: 10px;
        box-sizing: border-box;
        a {
            font-family: sourcesans_light;
            color: white;
        }
    }

    .view-content {
        display: block;
        overflow: hidden;
        padding: 15px;
        .views-row {
            overflow: hidden;
            padding-bottom: 10px;
            .views-field-field-imagen-noticias {
                display: inline-block;
                float: left;
            }

            .views-field-title {
                overflow: hidden;
                a {
                    font-family: sourcesans_bold;
                    text-decoration: none;
                    padding-left: 10px;
                    color: #00304b;
                    width: 495px;
                    display: block;
                    float: left;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

}

.actividades-2-cols {
    width: 637px;
    height: 380px;
    background: rgb(178, 234, 246);
    float: left;
    overflow: hidden;

    .titulo {
        width: 100%;
        height: 50px;
        background: rgb(81, 105, 120);
        color: white;
        font-size: 24px;
        text-align: center;

        p {
            padding-top: 10px;

            a {
                font-family: sourcesans_light;
                color: white;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

    }

    .views-row {
        height: 70px;
        width: 100%;
        position: relative;
        border-bottom: 2px solid #00b5e2;

        .fecha {
            float: left;
            height: 50px;
            width: 50px;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            padding-right: 10px;
            padding-top: 10px;
            border-radius: 50%;
            background-color: rgb(0,59,92);
            color: rgb(0,181,226);
            position: relative;
            margin-right: 10px;
            margin-left: 10px;
            margin-top: 5px;
            span {
                position: absolute;
                left: 5px;
                width: 80%;
                text-align: center;
                top: 6px;

            }

        }

        .views-field-title {
            float: left;
            width: 420px;
            max-width: 560px;
            overflow: hidden;
            font-size: 18px;
            font-family: sourcesans_light;
            padding-top: 5px;
            max-height: 50px;
            a {
                color: inherit;
                text-decoration: none;
                font-family: sourcesans_bold;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .views-field-field-texto {
           position: absolute;
           bottom: 4px;
           left: 80px;
           max-width: 470px;
           height: 36px;
           font-size: 14px;
           overflow: hidden;
        }

        .views-field-field-clasificaci-n {
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 80px;
            height: 20px;
            font-size: 11px;
            background: rgb(0,181,226);
            color: white;
            font-family: sourcesans_light;
            text-transform: uppercase;
            padding-top: 5px;
            padding-left: 2px;

			div {
				padding-left: 5px;
				}
        }
    }
}

.eventosr-2-cols {
    h1 {
        a {
            color: #003b5a;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
    .view {
        overflow: hidden;

        .views-row {
            float: left;
            width: 275px;

            .views-field-field-imagen-actividades {
                .field-content {
                    overflow: hidden;
                    max-width: 180px;
                    max-height: 180px;
                    margin: 0 auto;
                    img {
                        display: block;
                        margin: 0 auto;
                        transition: all 0.5s ease;
                        overflow: hidden;
                        box-sizing: border-box;
                        max-width: initial !important;

                        &:hover {
                            height: 300px;
                            width: 300px;
                            margin: -50px -50px;
                        }
                    
                    }
                }
            }

            .views-field-title {
                text-align: center;
                padding-top: 10px;
                padding-bottom: 10px;

                a {
                    text-decoration: none;
                    color: #003b5a;
                    font-size: 20px;
                    font-family: sourcesans_bold;
                }
            }

            .views-field-field-fecha {
                text-align: center;
            }

            .views-field-view-node {
                text-align: center;
                a {
                    color: #003b5a;
                    font-size: 40px;
                    font-family: sourcesans_bold;
                    text-decoration: none;
                }
            }

            .views-field-field-fecha-fin-activ {
                text-align: center;
            }

        }
    }
    
}

.l-1-cols-col .node--bloque-html {
	width: 100%;
}

.node--slider-principal {
    li {
        a {
            img {
                width: auto !important;
                float: right;
            }
        }

        .overlay {
            height: 380px;
        }
    }
}

.l-1-cols-col {
  .node--video-youtube {
    width:100%;
  }  
}
