/*Mapa Ipad Pro y otras resoluciones*/
@media only screen and (min-width: 1025px) and (max-width: 1299px) {
   
    .not-front{
        .content{
            display: flex;
        }
        
        .col-principal{
            width: 100%;
            order: 2;
			
			p{
				text-align: justify;
			}
        }
        
        .col-izquierda{
            order: 1;
        }
    }
    
    body {
        
        .l-main{
            width: 100%;
        }

		.l-slider-principal {

			.l-region--slider-principal {
				height: auto !important;

				.flexslider {
					width: 100% !important;
					height: auto !important;
                    margin: 0px;
				}
			}

		}

		.l-menu {
            .l-region--menu-buap {
                width: 100%;
            }
        }   
	
        .l-menu-secundario {
            width: 100%;
        }
        
        .l-slider-principal{
            width: 100%;
        }
    
        .flexslider{

            .flex-control-nav{
                width: 100% !important;
            }
        }
    
        .l-content-lienzo{
            .l-lienzo-1-col{
                width: 100%;
                text-align: center;
                
                div[id^="node-"]{
                    width: 100% !important;
                }
                
                div[class^="l-1-cols-"]{
                    width: 100%;
                }
            }
            
            .l-lienzo-2-cols{
                width: 100%;
                text-align: center;

                div[class^="l-2-cols-"]{
                    padding-right: 0px;
                    padding-bottom: 25px;
                }
            }
            
            .l-lienzo-3-cols{
                width: 100%;
                text-align: center;
                
                div[class^="l-3-cols-"] {
                    display: inline-block;
                    padding: 20px 10px 20px 10px !important;
                }
            }

            .l-lienzo-3-cols-v{
                width: 100%;
                text-align: center;

                div[class^="l-3-cols-col-v"] {
                    display: inline-block;
                    padding: 20px 10px 20px 10px !important;
                    float: none;
                }
            }
            
            .l-lienzo-4-cols {
                text-align: center;

                .l-4-cols-col {
                    padding-bottom: 25px;
                    padding-right: 10px !important;
                    padding-left: 10px;
                }

            }
			
			.l-lienzo-4-cols-v {
                text-align: center;

                .l-4-cols-col-v {
                    float: none;
					display: inline-block;
					vertical-align: top;
					padding-bottom: 25px;
                    padding-right: 10px !important;
                    padding-left: 10px;
					padding-top: 25px;
                }

            }
        }
        
        .content{
            
            .eventosr-2-cols{
				.view{
					.views-row {
						float: none;
						display: inline-block;
						padding-bottom: 20px;
					}
				}
			}
			
			.galeria-2-cols{
                float: none;
                display: inline-block;
            }
            
            .html-2-col{
                display: inline-block;
                float: none;
            }
            
            .img-2-col{
                float: none;
                display: inline-block;
            }
            
            .video-2-cols{
                float: none;
                display: inline-block;
            }
            
            .mapa-1-col{
                width: 100%;
            }
            
            .lc-3-cols{
                width: 100%;
                text-align: center;
                
                .lc-col{
                    float: none;
                    display: inline-block;
                    margin-bottom: 25px !important;
                    margin-right: 0px !important;
                    margin-left: 25px;
                }
            }
        }
            
        .l-noticias-buap{
            width: 100%;
            text-align: center;
		
            p.titulo{
                width:100%;
            }
		
            .l-noticias-buap-cols{
                width: 100%;
                text-align: center;

                .l-noticias-buap-col{
                    display: inline-block;
                    padding-left: 0px;
                    padding: 10px;
                }
            }
        }
        
        .l-footer{
            .l-region--footer{
                width: 100%;
            }
        }
    } 
}

@media only screen and (max-width: 1024px) {
    
    /*Arreglar Menú Izquierdo Lateral*/
    
    .not-front{
        .content{
            text-align: center;
            display: flex;
            flex-direction: column;
        }
        
        //Corregir título en interiores con menú lateral izquierdo//
        .l-content .pane-page-title{
            display: none;
        }

        .titulo_responsive{
            display: inline-block !important;
            order: 2;
        }
        //Corregir titulo en interiores con menú lateral izquierdo//
        
        .col-principal{
            width: 100%;
            padding: 0px;
            float: none;
            order: 3;
            
            .field--name-body{
                width: 80%;
                display: inline-block !important;
            }
        }
        
        .col-izquierda{
            width: 100%;
            float: none;
            order: 1;
            display: inline-block;
            
            .content{
                width: 100%;
                display: inline-block !important;

                .menu-col.diseno-2-neg{
                    width: 100%;
                    height: auto;
                    float: none;
                    display: inline-block;
                    border-bottom: 0;
                    
                    .menu{
                        height: auto;
                        display: none;
                        text-align: center;

                        ul{
                            width: 85%;
                            height: auto;
                            padding-right: 0;
                            padding-left: 0;
                            display: inline-block;
                            text-align: left;
                        }
                    }
                }
                
                .menu-col.diseno-2{
                    float: none;
                    display: inline-block;
                    height: auto;
                }
            }
        }
    }
    /*Arreglar Menú Izquierdo Lateral*/
    
    body {
        margin: 0px !important;
        
        .l-main{
            width: 100%;
        }
        
        /*Interior*/
        
        /* -------------------------------------------- */

		.l-slider-principal {

			.l-region--slider-principal {
				height: auto !important;

				.flexslider {
					width: 100% !important;
					height: auto !important;	
					li {
						img {
							width: 100% !important;
							height: auto !important;
							max-height: 460px;
						}
					}
				}
			}

		}
		
		.l-menu {
            .l-region--menu-buap {
                .header-redes {
                        display: none;
                    }

                    ul {
                        &.menu {
                            display: none;
                            float: left;
                            margin-left: 20px;
                        }
                    }
                }
                
                .menu-responsive {
                    display: block;
                    float: right;
                    height: 65px;
                    width: 65px;
                    padding-right: 10px;
                    a {
                        display: block;
                    }
                    .menu-r {
                        display: block !important;
                        
                        ul{
                            width: 100%;
							float: left;
                            margin-left: 30px;
							max-width: 160px;
                        }
                    }
                }
        }   
	
        .l-menu-secundario {
            width: 100%;
            text-align: center;

            h2{
                width: 98%;
                float: none;
                text-align: center;
                display: inline-block;
                padding: 10px 0 10px 0;
            }

            .pane-menu-menu-menu-secundario{
                display: none;
            }
        }
        
        .l-slider-principal{
            width: 100%;
        }
    
        .flexslider{

            margin: 0px !important;

            .flex-control-nav{
                width: 100% !important;
            }
            
            .titulo{
                max-width: none !important;
            }
            
            .descripcion{
                max-width: none !important;
                max-height: none !important;
            }
        }

        .l-noticias-buap{
            width: 100%;
            text-align: center;
		
            p.titulo{
                width:100%;
            }
		
            .l-noticias-buap-cols{
                width: 100%;
                text-align: center;

                .l-noticias-buap-col{
                    display: inline-block;
                    padding-left: 0px;
                    padding: 10px;
                }
            }
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px){

    .flexslider{
        .overlay{
            .descripcion{
                text-align: justify;
                ul{
                    padding-left: 20px;
                }
            }
        }
		
		.overlay_interno{
			width: 43%!important;
			padding: 0px!important;
			position: initial!important;
		}
		
		.slides{
			img{
				max-height: 380px;
			}
		}
		
		.descripcion_interno{
			padding: 30px 15px;
			font-size: 17px !important;
		}
    }
    
    .l-content-lienzo{
	
		text-align: center;
		
		.superpanel{
			overflow: visible;
			text-align: center;
			max-height: none;
			
			.columna-izquierda{
				float: none;
				display: inline-block;
				height: 450px;
			}
			
			.columna-central{
				float: none;
				display: inline-block;
				width: 80%;
			}
			
			.columna-derecha{
				float: none;
				display: inline-block;
				height: 450px;
			}
		}
		
		.l-lienzo-1-col{
			width: 100%;
			text-align: center;
			
			div[id^="node-"]{
				width: 100% !important;
			}
			
			div[class^="l-1-cols-"]{
				width: 100%;
			}
		}
		
		.l-lienzo-2-cols{
			width: 100%;
			text-align: center;
            
            div[class^="l-2-cols-"]{
                padding-right: 0px;
                padding-bottom: 25px;
                width: 100%;
			}
            
            div[id^="node-"]{
				width: 100%;
			}
		}
		
		.l-lienzo-3-cols{
			width: 100%;
			text-align: center;
            
			div[class^="l-3-cols-"] {
				display: inline-block;
				padding: 20px 10px 20px 10px !important;
			}
		
		}
        
        .l-lienzo-3-cols-v{
			width: 100%;
			text-align: center;

			div[class^="l-3-cols-col-v"] {
				display: inline-block;
				padding: 20px 10px 20px 10px !important;
                float: none;
			}
		}

		.l-lienzo-4-cols {
			padding-top: 25px;
			width: 100%;
			text-align: center;
	
			.l-4-cols-col {
				padding: 20px 10px 20px 10px !important;
			}
      
        }
		
		.l-lienzo-4-cols-v {
			padding-top: 25px;
			width: 100%;
			text-align: center;
	
			.l-4-cols-col-v {
				float: none;
				display: inline-block;
				vertical-align: top;
				padding: 20px 10px 20px 10px !important;
			}
      
        }
	}
	
	.content{
	   
        text-align: center;
        
		.eventosr-2-cols{
			.view{
				.views-row {
					float: none;
					display: inline-block;
					padding-bottom: 20px;
				}
			}
		}
		
		.menu-col.diseno-2-neg{
			float: none;
			display: inline-block;
			height: 450px;
		}
		
		.menu-col.diseno-2{
			float: none;
			display: inline-block;
			height: 450px;
		}
        
        .img-2-col{
            float: none;
            display: inline-block;
        }
		
		.img-link-cc{
			float: none;
			height: auto;
			width: 100%;
			display: inline-block;
		}

		.galeria-2-cols{
			float: none;
			display: inline-block;
		}
		
		.video-2-cols{
            float: none;
            display: inline-block;
		}
		
		.video-3-cols{
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
			
			iframe{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		
		.video-4-cols{
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
			
			iframe{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		
		
		.mapa-1-col{
			width: 90%;
			display: inline-block;
			height: initial;
			padding-bottom: 120px;
			
			#columnas{
				width: 90%;
				text-align: center;
				height: initial;
				
				ul{
					padding: 0px;
					margin: 15px;
					width: 60%;
				}
			}
			
			#cmapa{
				position: relative;
				padding-bottom: 300px;
				overflow: hidden;
				top: 120px;
				width: 100%;
			}
			
			#map_canvas{
				width: 100%;
				position: absolute;
			}
			
			#ctexto{
				width: 100%;
			}
		}
		
		.mapa-2-cols{
            display: inline-block;
        }
		
		.carrousel-1-col{
            padding-top: 60px;
            
            .titulo{
                width: 100%;
            }
		}
        
        .html-2-col{
			display: inline-block;
			float: none;
		}
		
		.html-3-col{
            display: inline-block;
			float: none;
			text-align: left;
            p{
                text-align: justify !important;
            }
		}
        
        .html-3v-col{
            width: 416px;
			display: inline-block;
			float: none;
			text-align: left;
            p{
                text-align: justify !important;
            }
		}
		
		.html-4-col{
			display: inline-block;
			float: none;
			text-align: left;
		}
		
		.html-4-col-v {
			width: 100%;
			display: inline-block;
			float: none;
			text-align: left;
		}
        
        .text-2-cols{
            width: 90%;
            height: auto;
            float: none;
            display: inline-block;
        }
        
        .lc-3-cols{
            width: 100%;
            text-align: center;
            
            .lc-col{
                float: none;
                display: inline-block;
                margin-bottom: 15px !important;
                margin-right: 0px !important;
                margin-left: 15px;
            }
        }
	}
	
	.l-footer{
		
		width: 100%;
		text-align: center;
		height: 310px;
        position: relative;
			
		.l-region--footer{
				
			width: 100%;
			text-align: center;
			height: inherit;
				
			.footer-logo-buap{
				float: none;
				display: inline-block;
                height: 49px;
                
                img{
                    height: 100%;
                }
			}
				
			.footer-info-buap{
				display: inline-block;
				float: none;
			}
				
			ul.menu{
				display: inline-block;
				float: none;
				padding-top: 20px;
				padding-left: 0px;
				text-align: center;
				width: 100%;
			}
					
			.footer-info-dep{
				display: inline-block;
				float: none;
				padding-top: 20px;
				width: 100%;
			}
		}
	}
}

@media only screen and (min-width: 651px) and (max-width: 768px){

    
    .flexslider{

        .overlay{
            width: 100% !important;
            padding: 0px !important;
            position: initial !important;
        }
        
        .titulo{
            max-width: none !important;
        }
        
        .descripcion{
            width: 90%;
			margin: 0 auto;
            text-align: justify;
        }
		
		.overlay_interno{
			width: 100%!important;
			height: auto !important;
			min-height: 380px;
			padding: 0px!important;
			position: initial!important;
		}
		
		.slides{
			img{
				width: 100%!important;
				height: auto!important;
				min-height: 225px !important;
				max-height: 375px;
			}
		}
		
		.descripcion_interno{
			width: 100%;
			max-width: none !important;
			
			p{
				padding: 40px;
			}
		}
    }
    
    .l-content-lienzo{
	
		text-align: center;
		
		.superpanel{
			overflow: visible;
			text-align: center;
			max-height: none;
			
			.columna-izquierda{
				float: none;
				display: inline-block;
				height: 450px;
			}
			
			.columna-central{
				float: none;
				display: inline-block;
				width: 80%;
			}
			
			.columna-derecha{
				float: none;
				display: inline-block;
				height: 450px;
			}
		}
		
		.l-lienzo-1-col{
			width: 100%;
			text-align: center;
			
			div[class^="l-1-cols-"]{
				width: 100%;
			}
            
            div[id^="node-"]{
				width: 100% !important;
            }
		}
		
		.l-lienzo-2-cols{
			text-align: center;
            width: 100%;
			
			div[class^="l-2-cols-"]{
                padding-right: 0px;
                padding-bottom: 25px;
                width: 100%;
			} 
			
			div[id^="node-"]{
				width: 100%;
			}
		}
		
		.l-lienzo-3-cols{
			width: 100%;
			text-align: center;

			div[class^="l-3-cols-"] {
				padding: 20px 0px 20px 0px !important;
			}
            
            div[id^="node-"]{
				width: 100%;
			}
		}
        
        .l-lienzo-3-cols-v{
			width: 100%;
			text-align: center;

			div[class^="l-3-cols-col-v"] {
				padding: 20px 0px 20px 0px !important;
                float: none;
                display: inline-block;
			}
            
            div[id^="node-"]{
				width: 100%;
			}
		}
		
		.l-lienzo-4-cols {
			padding-top: 25px;
			width: 100%;
			text-align: center;
	
			.l-4-cols-col {
				padding: 20px 10px 20px 10px !important;
			}
            
            div[id^="node-"]{
				width: 100%;
			}
        }
		
		.l-lienzo-4-cols-v {
			padding-top: 25px;
			width: 100%;
			text-align: center;
	
			.l-4-cols-col-v {
				float: none;
				display: inline-block;
				vertical-align: top;
				padding: 20px 10px 20px 10px !important;
			}
            
            div[id^="node-"]{
				width: 100%;
			}
        }
	}
	
	.content{
        
        text-align: center;
	
		.eventosr-2-cols{
			.view{
				.views-row {
					float: none;
					display: inline-block;
					padding-bottom: 20px;
				}
			}
		}
		
		.menu-col.diseno-2-neg{
			float: none;
			display: inline-block;
			height: 450px;
		}
		
		.menu-col.diseno-2{
			float: none;
			display: inline-block;
			height: 450px;
		}
        
        .img-2-col{
            float: none;
            display: inline-block;
        }

        .carrousel-1-col{
            padding-top: 120px;
        }
		
		.img-link-cc{
			float: none;
			height: auto;
			width: 100%;
			display: inline-block;
		}
        
		.galeria-2-cols{
            height: auto;
			float: none;
			display: inline-block;
		}
		
		.video-2-cols{
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
            display: inline-block;
            float: none;
			
			iframe{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		
		.video-3-cols{
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
			
			iframe{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		
		.video-4-cols{
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
			
			iframe{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		.mapa-1-col{
			width: 90%;
			display: inline-block;
			height: initial;
			padding-bottom: 120px;
			
			#columnas{
				width: 100%;
				text-align: center;
				height: initial;
				
				ul{
					padding: 0px;
					margin: 15px;
					width: 60%;
				}
			}
			
			#cmapa{
				position: relative;
				padding-bottom: 300px;
				overflow: hidden;
				top: 120px;
				width: 100%;
			}
			
			#map_canvas{
				width: 100%;
				position: absolute;
			}
			
			#ctexto{
				width: 100%;
			}
		}
        
        .mapa-2-cols{
            display: inline-block;
        }
        
        .noticias-rd-2-cols{
            .view-content{
                .views-row{
                    .views-field-title{
                        a{
                            width: 100%;
                            text-align: left;
                        }
                    }
                }
            }
        }
		
		.carrousel-1-col{
				.titulo{
					width: 100%;
				}
		}
		
		.html-cc{
			text-align: left;
			display: inline-block;
			width: 100%;
			float: none;
            
            a{
                top: 44.5%;
                left: 4.7%;
            }
		}

        .html-3-col{
            display: inline-block;
			float: none;
			text-align: left;
            p{
                text-align: justify !important;
            }
		}
        
        .html-3v-col{
            width: 416px;
			display: inline-block;
			float: none;
			text-align: left;
            p{
                text-align: justify !important;
            }
		}
		
		.html-4-col{
			display: inline-block;
			float: none;
			text-align: left;
		}
		
		.html-4-col{
			width: 100%;
			display: inline-block;
			float: none;
			text-align: left;
		}
		
		ul.site-map-menu{
			text-align: center;
			padding-left: 0px !important;
			
			li{
				list-style-type: none;
			}
		}

        .actividadesr-2-cols{
			width: 75%;
            display: inline-block;
            float: none;
		}
		
		.actividades-2-cols
		{
			width: 100%;
			float: none;
		} 

    
        .html-2-col{
			display: inline-block;
			float: none;
		}
        
        .menu-2-cols.diseno-2{
            width: 100%;
        }
        
        .text-2-cols{
			width: 100%;
			display: inline-block;
            float: none;
		}
        
        .lc-3-cols{
            width: 100%;
            text-align: center;
            
            .lc-col{
                float: none;
                display: inline-block;
                margin-bottom: 25px !important;
                margin-right: 0px !important;
            }
        }
	}
	
	.l-footer{
		
		width: 100%;
		text-align: center;
		height: 310px;
        position: relative;
			
		.l-region--footer{
				
			width: 100%;
			text-align: center;
			height: inherit;
				
			.footer-logo-buap{
				float: none;
				display: inline-block;
                height: 49px;
                
                img{
                    height: 100%;
                }
			}
				
			.footer-info-buap{
				display: inline-block;
				float: none;
			}
				
			ul.menu{
				display: inline-block;
				float: none;
				padding-top: 20px;
				padding-left: 0px;
				text-align: center;
				width: 100%;
			}
					
			.footer-info-dep{
				display: inline-block;
				float: none;
				padding-top: 20px;
				width: 100%;
			}
		}
	}
}

@media only screen and (min-width: 376px) and (max-width: 650px){
    
    ol, ul{
        padding-left: 20px;
		text-align: left;
    }
    
    table{
        width: 100% !important;
        display: block;
        overflow-x: auto;
        text-align: left;
    }
    
    .flexslider{

        .overlay{
            width: 100% !important;
            padding: 0px !important;
            position: initial !important;
        }
        
        .titulo{
            max-width: none !important;
        }
        
        .descripcion{
            width: 90%;
			margin: 0 auto;
            text-align: justify;
			
			ul{
                    padding-left: 20px;
                }
        }
		
		.overlay_interno{
			width: 100%!important;
			height: auto !important;
			min-height: 380px;
			padding: 0px!important;
			position: initial!important;
		}
		
		.slides{
			img{
				width: 100%!important;
				height: auto!important;
				min-height: 225px !important;
				max-height: 375px;
			}
		}
		
		.descripcion_interno{
			width: 100%;
			max-width: none !important;
			
			p{
				padding: 30px;
				font-size: 17px;
			}
		}
    }
    
    .l-content-lienzo{
	
		text-align: center;
		
		.superpanel{
			overflow: visible;
			text-align: center;
			max-height: none;
			
			.columna-izquierda{
				float: none;
				display: inline-block;
				height: 450px;
			}
			
			.columna-central{
				float: none;
				display: inline-block;
				width: 80%;
			}
			
			.columna-derecha{
				float: none;
				display: inline-block;
				height: 450px;
			}
		}
		
		.l-lienzo-1-col{
			width: 100%;
			text-align: center;
			
			div[id^="node-"]{
				width: 100% !important;
			}
			
			div[class^="l-1-cols-"]{
				width: 100%;
			}
		}
		
		.l-lienzo-2-cols{
			width: 100%;
			text-align: center;
			
			div[class^="l-2-cols-"]{
				display: inline-block;
                padding-right: 0px;
                width: 95%;
                padding-bottom: 25px;
			} 
			
			div[id^="node-"]{
				width: 100%;
			}
		}
		
		.l-lienzo-3-cols{
			width: 100%;
			text-align: center;

			div[class^="l-3-cols-"] {
				padding: 20px 0px 20px 0px !important;
                width: 100%;
			}
            
            div[id^="node-"]{
				width: 100%;
			}
		}
        
        .l-lienzo-3-cols-v{
			width: 100%;
			text-align: center;

			div[class^="l-3-cols-col-v"] {
				padding: 20px 0px 20px 0px !important;
                width: 100%;
			}
            
            div[id^="node-"]{
				width: 100%;
			}
		}
		
		.l-lienzo-4-cols {
			padding-top: 25px;
			width: 100%;
			text-align: center;
	
			.l-4-cols-col {
				padding: 20px 10px 20px 10px !important;
				
				.l-4-cols-first{
					margin-top: 20px;
				}
			
            }
            
            div[id^="node-"]{
				width: 100%;
			}
        }
		
		.l-lienzo-4-cols-v {
			padding-top: 25px;
			width: 100%;
			text-align: center;
	
			.l-4-cols-col-v {
				float: none;
				display: inline-block;
				vertical-align: top;
				padding: 20px 5px 20px 5px !important;
				
				.l-4-cols-v-first{
					margin-top: 20px;
				}
			
            }
            
            div[id^="node-"]{
				width: 100%;
			}
        }
	}
	.node-type-p-gina-pila-{
			.pila-3-cols{
				.pila-3-cols-col{
					.content{
						.img-3-col{
							width: 100% !important;
						}
					}
				}
			}
	}	
	.content{
	
        text-align: center;
        
		.eventosr-2-cols{
			.view{
				.views-row {
					float: none;
					display: inline-block;
					padding-bottom: 20px;
				}
			}
		}
		
		.menu-col.diseno-2-neg{
			float: none;
			display: inline-block;
			height: 450px;
		}
		
		.menu-col.diseno-2{
			float: none;
			display: inline-block;
			height: 450px;
		}
        
        .menu-3-cols.diseno-1{
            float: none;
            width: 100%;
            height: 100%;
            display: inline-block;
            max-width: 416px;
            max-height: 344px;
            
            .menu{
                height: inherit;
            }
        }
        
        .menu-3-cols.diseno-3{
            width: 90%;
            max-width: 416px;
            display: inline-block;
            height: auto;
        }
        
        .img-2-col{
            float: none;
            display: inline-block;
            width: 100%;
            height: auto;
        }
        
        .img-3-col{
            display: inline-block;
            width: 90%;
            height: auto;
            float: none;
            
            a{
                top: 41.5%;
                left: 4.5%;
            }
        }
        
        .carrousel-1-col{
            padding-top: 120px;
        }
		
		.img-link-cc{
			float: none;
			height: auto;
			width: 100%;
			display: inline-block;
		}
		
		.galeria-2-cols{
			width: 100%;
            height: auto;
			float: none;
			display: inline-block;
		}
        
        .galeria-3-cols{
            width: 90%;
            height: auto;
            float: none;
            display: inline-block;
        }
		
		.galeria-4-cols{
			display: inline-block;
		}
		
		.video-cc{
			width: 100%;
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 40px;
			height: 0;
			overflow: hidden;
			
			iframe{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		
		.video-2-cols{
			width: 100%;
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
			margin-bottom: 20px;
			
			iframe{
				position: absolute;
				top: 0;
				left: 0px;
				width: 100%;
				height: 100%;
			}
		}
		
		.video-3-cols{
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
			
			iframe{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		
		.video-4-cols{
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
			
			iframe{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		
		
		.mapa-1-col{
			width: 90%;
			display: inline-block;
			height: initial;
			padding-bottom: 120px;
			
			#columnas{
				width: 90%;
				text-align: center;
				height: initial;
				
				ul{
					padding: 0px;
					margin: 15px;
					width: 60%;
				}
			}
			
			#cmapa{
				position: relative;
				padding-bottom: 300px;
				overflow: hidden;
				top: 120px;
				width: 100%;
			}
			
			#map_canvas{
				width: 100%;
				position: absolute;
			}
			
			#ctexto{
				width: 100%;
			}
		}
        
        .mapa-2-cols{
            width: 100%;
            
            #columnas{
                width: 50%;
            }
        }
        
        .noticias-rd-2-cols{
            width: 100%;
            
            .view-content{
                .views-row{
                    .views-field-title{
                        a{
                            width: 100%;
                            text-align: left;
                        }
                    }
                }
            }
        }
		
		.text-cc{
			width: 100%;
			
			.titulo{
				width: 85%;
			}
			
			.contenido{
				width: 85%;
				margin-bottom: 4px;
			}
			
			.link{
				width: 100%
			}
		}
		
		.text-2-cols{
			width: 100%;
			display: inline-block;
			
			.titulo{
				width: 90%
			}
			
			.contenido{
				width: 90%;
				margin-bottom: 4px;
			}
            
            .contenido-full{
                width: 90%;
                margin: 0px;
            }
		}
		
		.carrousel-1-col{
			.titulo{
				width: 100%;
			}
		}
		
		.html-cc{
			text-align: left;
			display: inline-block;
			width: 100%;
			float: none;
		}
        
        .html-2-col{
			width: 100%;
			display: inline-block;
			height: initial;
			float: none;
		}

        .html-3-col{
            width: 90%;
            display: inline-block;
			float: none;
			text-align: left;
            p{
                text-align: justify !important;
            }
		}
        
        .html-3v-col{
            width: 90%;
            max-width: 416px;
			display: inline-block;
			float: none;
			text-align: left;
            p{
                text-align: justify !important;
            }
		}
		
		.html-4-col{
			display: inline-block;
			float: none;
			text-align: left;
		}
		
		.html-4v-col{
			width: 100%;
			display: inline-block;
			float: none;
			text-align: left;
		}
		
		ul.site-map-menu{
			text-align: center;
			padding-left: 0px !important;
			
			li{
				list-style-type: none;
			}
		}

        .actividadesr-2-cols{
			width: 90%;
			height: 490px;
		}
		
		.actividades-2-cols
		{
			width: 100%;
            height: 490px;
			float: none;

			.views-row
			{
				height: 100px;
                
				.views-field-title
				{
					width: 350px
				}
                
                		.fecha
				{
                    			top: 15px;
                		}
                
                		.views-field-field-texto
				{
                    			height: 55px;
                		}
			}
		} 
        
        .menu-2-cols.diseno-2{
            width: 100%;
        }
        
        .lc-3-cols{
            width: 100%;
            text-align: center;
            
            .lc-col{
                float: none;
                display: inline-block;
                width: 85%;
                margin-bottom: 25px !important;
                margin-right: 0px !important;
            }
        }
	}
	
	.l-footer{
		
		width: 100%;
		text-align: center;
		height: 310px;
        position: relative;
			
		.l-region--footer{
				
			width: 100%;
			text-align: center;
			height: inherit;
				
			.footer-logo-buap{
				float: none;
				display: inline-block;
                height: 49px;
                
                img{
                    height: 100%;
                }
			}
				
			.footer-info-buap{
				display: inline-block;
				float: none;
			}
				
			ul.menu{
				display: inline-block;
				float: none;
				padding-top: 20px;
				padding-left: 0px;
				text-align: center;
				width: 100%;
			}
					
			.footer-info-dep{
				display: inline-block;
				float: none;
				padding-top: 20px;
				width: 100%;
			}
		}
	}

}

@media only screen and (min-width: 320px) and (max-width: 375px){
    
    ol, ul{
        padding-left: 20px;
		text-align: left;
    }
    
    table{
        width: 100% !important;
        display: block;
        overflow-x: auto;
        text-align: left;
    }
    
    .flexslider{

        .overlay{
            width: 100% !important;
            padding: 0px !important;
            position: initial !important;
        }
		
        .titulo{
            max-width: none !important;
        }
        
        .descripcion{
            width: 90%;
			margin: 0 auto;
            text-align: justify;
			
			ul{
                    padding-left: 20px;
                }
        }
		
		.overlay_interno{
			width: 100%!important;
			height: auto !important;
			min-height: 380px;
			padding: 0px!important;
			position: initial!important;
		}
		
		.slides{
			img{
				width: 100%!important;
				height: 220px !important;
				min-height: 0 !important;
			}
		}
		
		.descripcion_interno{
			padding: 30px;
			
			p{
				font-size: 16px;
			}
		}
		
    }
    
    .l-content-lienzo{
	
		text-align: center;
		
		.superpanel{
			overflow: visible;
			text-align: center;
			max-height: none;
			
			.columna-izquierda{
				float: none;
				display: inline-block;
				height: 450px;
			}
			
			.columna-central{
				float: none;
				display: inline-block;
				width: 95%;
				padding-left: 0px;
				padding-right: 0px;
				padding-top: 20px;
			}
			
			.columna-derecha{
				float: none;
				display: inline-block;
				height: 450px;
				padding-bottom: 25px;
			}
		}
		
		.l-lienzo-1-col{
			width: 100%;
			text-align: center;
			
			div[id^="node-"]{
				width: 100% !important;
			}
			
			div[class^="l-1-cols-"]{
				width: 100%;
			}
		}
		
        .l-lienzo-2-cols{
			width: 100%;
			text-align: center;
			
			div[class^="l-2-cols-"]{
                padding-right: 0px;
                width: 95%;
                padding-bottom: 25px;
			} 
			
			div[id^="node-"]{
				width: 100%;
			}
		}
		
		.l-lienzo-3-cols{
			width: 100%;
			text-align: center;

			div[class^="l-3-cols-"] {
				padding: 20px 0px 20px 0px !important;
                width: 100%;
			}
            
            div[id^="node-"]{
				width: 100%;
			}
		}
        
        .l-lienzo-3-cols-v{
			width: 100%;
			text-align: center;

			div[class^="l-3-cols-col-v"] {
				padding: 20px 0px 20px 0px !important;
                width: 100%;
			}
            
            div[id^="node-"]{
				width: 100%;
			}
		}

		.l-lienzo-4-cols {
			padding-top: 25px;
			width: 100%;
			text-align: center;
	
			.l-4-cols-col {
                padding: 20px 0px 20px 0px;
			}
            
            div[id^="node-"]{
				width: 100%;
			}
        }
		
		.l-lienzo-4-cols-v {
			padding-top: 25px;
			width: 100%;
			text-align: center;
	
			.l-4-cols-col-v {
				float: none;
				display: inline-block;
                padding: 20px 0px 20px 0px;
			}
            
            div[id^="node-"]{
				width: 100%;
			}
        }
    }
	.node-type-p-gina-pila-{
			.pila-3-cols{
				.pila-3-cols-col{
					.content{
						.img-3-col{
							width: 100% !important;
						}
					}
				}
			}
		}
		
	.content{
	
		text-align: center;
	
		.eventosr-2-cols{
			.view{
				.views-row {
					float: none;
					display: inline-block;
					padding-bottom: 20px;
				}
			}
		}
        
        .menu-3-cols.diseno-1{
            float: none;
            width: 95%;
            height: 100%;
            display: inline-block;
            
            .menu{
                height: inherit;
            }
        }
        
        .menu-3-cols.diseno-3{
            display: inline-block;
            width: 90%;
            height: auto;
        }
        
        .img-2-col{
            float: none;
            display: inline-block;
            width: 100%;
            height: auto;
        }
        
        .img-3-col{
            display: inline-block;
            width: 90%;
            height: auto;
            float: none;
        }
        
        .carrousel-1-col{
            padding-top: 120px;
        }
		
		.img-link-cc{
			float: none;
			height: auto;
			width: 100%;
			display: inline-block;
            
            a{
                top: 42%;
                left: 5%;
            }
		}
    
		.galeria-2-cols{
			width: 100%;
            height: auto;
			float: none;
			display: inline-block;
		}
		
        .galeria-3-cols{
            width: 90%;
            height: auto;
            float: none;
            display: inline-block;
        }
        
		.galeria-4-cols{
			padding-top: 10px;
		}
		
		.video-cc{
			width: 100%;
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 40px;
			height: 0;
			overflow: hidden;
			
			iframe{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		
		.video-2-cols{
			width: 100%;
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
			
			iframe{
				position: absolute;
				top: 0;
				left: 0px;
				width: 100%;
				height: 100%;
			}
		}
		
		.video-3-cols{
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
			
			iframe{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		
		.video-4-cols{
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
			
			iframe{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		
		.mapa-1-col{
			width: 90%; 
			display: inline-block;
			height: initial;
			padding-bottom: 120px;
			
			#columnas{
				width: 90%;
				text-align: center;
				height: initial;
				
				ul{
					padding: 0px;
					margin: 15px;
					width: 60%;
				}
			}
			
			#cmapa{
				position: relative;
				padding-bottom: 300px;
				overflow: hidden;
				top: 120px;
				width: 100%;
			}
			
			#map_canvas{
				width: 100%;
				position: absolute;
			}
			
			#ctexto{
				width: 100%;
			}
		}
        
        .mapa-2-cols{
            width: 100%;
            
            #columnas{
                width: 95%;
            }
        }
        
        .noticias-rd-2-cols{
            width: 100%;
            
            .view-content{
                .views-row{
                    .views-field-title{
                        a{
                            width: 100%;
                            text-align: left;
                        }
                    }
                }
            }
        }
		
		.text-cc{
			width: 100%;
			
			.titulo{
				width: 85%;
			}
			
			.contenido{
				width: 85%;
				margin-bottom: 4px;
			}
			
			.link{
				width: 100%
			}
		}
		
		.text-2-cols{
			width: 100%;
			display: inline-block;
			
			.titulo{
				width: 90%
			}
			
			.contenido{
				width: 90%;
				margin-bottom: 4px;
			}
            
            .contenido-full{
                width: 90%;
                margin: 0px;
            }
		}
		
		.text-3-cols{
			float: none;
			display: inline-block;
			margin-top: 10px;
			margin-right: 12px;
		}
		
		.carrousel-1-col{
			.titulo{
				width: 100%;
			}
		}
		
		.html-cc{
			text-align: left;
			display: inline-block;
			width: 100%;
			float: none;
		}
        
        .html-2-col{
			width: 100%;
			display: inline-block;
			height: initial;
			float: none;
		}
		
		.html-3-col{
            width: 90%;
            display: inline-block;
			float: none;
			text-align: left;
            p{
                text-align: justify !important;
            }
		}
        
        .html-3v-col{
            width: 90%;
			display: inline-block;
			float: none;
			text-align: left;
            p{
                text-align: justify !important;
            }
		}
		
		.html-4-col{
			display: inline-block;
			float: none;
			text-align: left;
		}
		
		.html-4v-col{
			width: 100%;
			display: inline-block;
			float: none;
			text-align: left;
		}
		
		ul.site-map-menu{
			text-align: center;
			padding-left: 0px !important;
			
			li{
				list-style-type: none;
			}
		}
        
        .actividadesr-2-cols{
			width: 100%;
			height: 490px;
		}
		
		.actividades-2-cols
		{
			width: 100%;
            height: 490px;
			float: none;

			.views-row
			{
				height: 100px;
                
				.views-field-title
				{
					position: relative;
                    			bottom: 60px;
				}
                
                		.fecha
				{
                    			top: 15px;
                		}
                
                		.views-field-field-texto
				{
                    			height: 55px;
                		}
			}
		}
        
        .menu-2-cols.diseno-2{
            width: 100%;
        }
        
        .lc-3-cols{
            width: 100%;
            text-align: center;
            
            .lc-col{
                float: none;
                display: inline-block;
                width: 85%;
                margin-bottom: 25px !important;
                margin-right: 0px !important;
            }
        }
	}

	.l-footer{
		
		width: 100%;
		text-align: center;
		height: 380px;
        position: relative;
			
		.l-region--footer{
				
			width: 100%;
			text-align: center;
			height: inherit;
				
			.footer-logo-buap{
				float: none;
				display: inline-block;
				width: 100%;
			}
				
			.footer-info-buap{
				display: inline-block;
				float: none;
				width: 100%;
			}
				
			ul.menu{
				width: 100%;
				display: inline-block;
				float: none;
				padding-top: 20px;
				padding-left: 0px;
				text-align: center;
			}
					
			.footer-info-dep{
				width: 100%;
				display: inline-block;
				float: none;
				padding-top: 20px;
			}
		} 
	}
}