.l-menu {
    #sidr {
        display: none;
    }

    .menu-r {
        background:rgba(0, 60, 94, 0.9);

        ul {
            padding: 0;
            li {
                list-style: none;
                width: 100%;
                padding-left: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
        
    }
}

.l-slider-principal {

    .l-region--slider-principal {
        height: 470px;
    }

    .node__title {
        display: none;
        margin: 0;
    }
}

.l-content-lienzo {

    .superpanel {
        .columna-central {
            .l-cc-col {
                padding-bottom: 25px;
            }
        }
    }

    .l-lienzo-4-cols {
        padding-top: 25px;
        .node__title {
            display: none;
        }

        div[id^="node-"] {
            float: left;
        }

        div[class^="l-4-cols-"] {
            display: inline-block;
        }

        .l-4-cols-col {
            padding-right: 25px;
            &.l-4-cols-last {
               padding-right: 0px;
            }

            &.l-4-cols-row {
                padding-top: 25px;
            }
        }
        

    }
	
	.l-lienzo-4-cols-v {
		padding-top: 25px;
		overflow: hidden;
		.node__title {
            display: none;
        }

        /*div[class^="l-3-cols-"] {
            display: inline-block;
        }*/

         div[id^="node-"] {
            float: left;
			width: 100%;
        }
        
        .l-4-cols-col-v {
            padding-right: 25px;
			width: 306px;
			overflow: hidden;
            float: left;
            &.l-4-cols-v-last {
                padding-right: 0px;
            }

            &.l-4-cols-v-row {
                padding-top: 25px;
            }
        }
	}

    .l-lienzo-3-cols {
        padding-top: 25px;
        .node__title {
            display: none;
        }

        div[class^="l-3-cols-"] {
            display: inline-block;
        }

         div[id^="node-"] {
            float: left;
        }
        
        .l-3-cols-col {
            padding-right: 25px;
            
            &.l-3-cols-last {
                padding-right: 0px;
            }

            &.l-3-cols-row {
                padding-top: 25px;
            }
        }
    }
	
	.l-lienzo-3-cols-v {
		padding-top: 25px;
		overflow: hidden;
		.node__title {
            display: none;
        }

        /*div[class^="l-3-cols-"] {
            display: inline-block;
        }*/

         div[id^="node-"] {
            float: left;
			width: 100%;
        }
        
        .l-3-cols-col-v {
            padding-right: 25px;
			width: 416px;
			overflow: hidden;
            float: left;
            &.l-3-cols-v-last {
                padding-right: 0px;
            }

            &.l-3-cols-v-row {
                padding-top: 25px;
            }
        }
	}

    .l-lienzo-2-cols {
        padding-top: 25px;
        .node__title {
            display: none;
        }

        div[class^="l-2-cols-"] {
            display: inline-block;
        }

        div[id^="node-"] {
            float: left;
        }
        
        .l-2-cols-col {
            padding-right: 25px;

            &.l-2-cols-last {
                padding-right: 0;
            }

            &.l-2-cols-row {
                padding-top: 25px;
            }
        }
    }
	
	.l-lienzo-2-cols-v {
		padding-top: 25px;
		overflow: hidden;
		.node__title {
            display: none;
        }

        /*div[class^="l-3-cols-"] {
            display: inline-block;
        }*/

         div[id^="node-"] {
            float: left;
			width: 100%;
        }
        
        .l-2-cols-col-v {
            padding-right: 25px;
			width: 637px;
			overflow: hidden;
            float: left;
            &.l-2-cols-v-last {
                padding-right: 0px;
            }

            &.l-2-cols-v-row {
                padding-top: 25px;
            }
        }
	}

    .l-lienzo-1-col {
        padding-top: 25px;
        .node__title {
            display: none;
        }

        div[class^="l-1-cols-"] {
            display: inline-block;
            width: 100%;
        }

        div[id^="node-"] {
            float: left;
        }
        
    }
}



.l-noticias-buap {
    padding-top: 25px;
    .node__title {
        display: none;
    } 

    p.titulo {
        font-family: sourcesans_light;
        font-size: 36px;
        padding-bottom: 25px;
        text-align: center;
        font-variant: small-caps;
        width: 1300px;
    }

    .l-noticias-buap-cols {
        width: 1300px;
        margin: 0 auto;
        display: block;
    }

    .l-noticias-buap-col {
        padding-left: 100px;
    }

    div[class^="l-noticias-buap-"] {
        display: inline-block;
        min-height: 255px;
		vertical-align: top;
    }

    div[id^="node-"] {
        float: left;
    }
    
}

.l-noticias-sitio {
    h2 {
        font-family: sourcesans_light;
        font-size: 36px;
        padding-bottom: 25px;
        text-align: center;
        font-variant: small-caps;
        width: 1300px;
        margin: 0;
        font-weight: 100;
    }
}

.view-noticias-recurso- {
    width: 1300px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    .views-row {
        float: left;
        margin-left: 100px;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 300px;
        text-align: justify;

        .views-field-title {
            font-family: sourcesans_light !important;
            font-size: 17px;
            text-align: justify;
            span {
                font-family: inherit;
            }
        }
 
        .views-field-field-imagen-noticias {
            img {
                &:hover {
                    border-bottom: thick solid #00B5DF;
                    margin-bottom: -5px;
                }
            }
        }

        .views-field-view-node {
            a {
                color: #00B5DF;
                text-decoration: none;
                font-weight: bold;
                font-size: 20px;
            }
        }

    }

    .view-footer {
        position: absolute;
        bottom: 0;
        right: 105px;

        a {
            text-decoration: none;
            font-family: sourcesans_bold;
            color: #003b5c;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
