/*Colores*/

$azul_claro : rgb(0,181,226);
$azul_oscuro: rgb(0,59,92);
$gris_claro: rgb(188,188,188);

$color_ingenierias : rgb(237,113,2);
$color_sociales: rgb(230,25,131);
$color_economico: rgb(254,205,27);
$color_naturales: rgb(118,183,42);
$color_preparatorias: rgb(77,188,198);
